<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealManageViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealManageView">
        <result column="pid" property="pid"/>
        <result column="serialNo" property="serialNo"/>
        <result column="billNo" property="billNo"/>
        <result column="proposalCode" property="proposalCode"/>
        <result column="projectCode" property="projectCode"/>
        <result column="projectName" property="projectName"/>
        <result column="num" property="num"/>
        <result column="medicalPrice" property="medicalPrice"/>
        <result column="ruleName" property="ruleName"/>
        <result column="deductPrice" property="deductPrice"/>
        <result column="deductReason" property="deductReason"/>
        <result column="repaymentReason" property="repaymentReason"/>
        <result column="doctorName" property="doctorName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptName" property="deptName"/>
        <result column="enterHospitalDateStr" property="enterHospitalDateStr"/>
        <result column="outHospitalDateStr" property="outHospitalDateStr"/>
        <result column="costDateStr" property="costDateStr"/>
        <result column="hospitalizedNo" property="hospitalizedNo"/>
        <result column="treatmentMode" property="treatmentMode"/>
        <result column="settlementDateStr" property="settlementDateStr"/>
        <result column="personalNo" property="personalNo"/>
        <result column="insuredName" property="insuredName"/>
        <result column="cardNumber" property="cardNumber"/>
        <result column="areaName" property="areaName"/>
        <result column="versionNumber" property="versionNumber"/>
        <result column="backAppeal" property="backAppeal"/>
        <result column="typeno" property="typeno"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="id" property="id"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="verifyId" property="verifyId"/>
        <result column="readyDoctorCode" property="readyDoctorCode"/>
        <result column="readyDoctorName" property="readyDoctorName"/>
        <result column="readyDeptCode" property="readyDeptCode"/>
        <result column="readyDeptName" property="readyDeptName"/>
        <result column="changeDoctorCode" property="changeDoctorCode"/>
        <result column="changeDoctorName" property="changeDoctorName"/>
        <result column="changeDeptCode" property="changeDeptCode"/>
        <result column="changeDeptName" property="changeDeptName"/>
        <result column="applyEndDate" property="applyEndDate"/>
        <result column="operateReason" property="operateReason"/>
        <result column="operateDate" property="operateDate"/>
        <result column="acceptState" property="acceptState"/>
        <result column="refuseId" property="refuseId"/>
        <result column="refuseName" property="refuseName"/>
        <result column="refuseReason" property="refuseReason"/>
        <result column="refuseDate" property="refuseDate"/>
        <result column="adminPersonId" property="adminPersonId"/>
        <result column="adminPersonName" property="adminPersonName"/>
        <result column="adminChangeDate" property="adminChangeDate"/>
        <result column="adminReason" property="adminReason"/>
        <result column="enableDate" property="enableDate"/>
        <result column="isEnableDate" property="isEnableDate"/>
        <result column="enableType" property="enableType"/>
        <result column="sourceType" property="sourceType"/>
        <result column="dataType" property="dataType"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="orderDoctorCode" property="orderDoctorCode"/>
        <result column="orderDoctorName" property="orderDoctorName"/>
        <result column="orderDeptCode" property="orderDeptCode"/>
        <result column="orderDeptName" property="orderDeptName"/>
        <result column="isEnd" property="isEnd"/>
        <result column="STATE" property="state"/>
        <result column="currencyField" property="currencyField"/>
        <result column="verifySendId" property="verifySendId"/>
        <result column="approvalState" property="approvalState"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, serialNo, billNo, proposalCode, projectCode, projectName, num, medicalPrice, ruleName, deductPrice, deductReason, repaymentReason, doctorName, deptCode, deptName, enterHospitalDateStr,outHospitalDateStr,costDateStr, hospitalizedNo, treatmentMode, settlementDateStr, personalNo, insuredName, cardNumber, areaName, versionNumber, backAppeal, typeno, applyDateStr, id, applyDataId, verifyId, readyDoctorCode, readyDoctorName, readyDeptCode, readyDeptName, changeDoctorCode, changeDoctorName, changeDeptCode, changeDeptName,applyEndDate, operateReason, operateDate, acceptState, refuseId, refuseName, refuseReason, refuseDate, adminPersonId, adminPersonName, adminChangeDate, adminReason,enableDate,isEnableDate,enableType,sourceType, dataType,orderNumber,orderNum,orderDoctorCode,orderDoctorName,orderDeptCode,orderDeptName,isEnd,STATE, currencyField,approvalState, verifySendId
    </sql>
    <update id="updateYbAppealManageView" parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        update yb_appeal_manage_view
        <trim prefix="set" suffixOverrides=",">
            <if test="serialNo != null">serialNo=#{serialNo},</if>
        </trim>

    </update>
    <select id="findYbAppealManageView" resultType="cc.mrbird.febs.yb.entity.YbAppealManageView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select * from yb_appeal_manage_view
        where 1=1
        <if test="ybAppealManageView.pid != null and ybAppealManageView.pid != ''">and pid =#{ ybAppealManageView.pid}
        </if>
        <if test="ybAppealManageView.serialNo != null and ybAppealManageView.serialNo != ''">and serialNo like
            concat('%', #{ ybAppealManageView.serialNo} ,'%')
        </if>
        <if test="ybAppealManageView.billNo != null and ybAppealManageView.billNo != ''">and billNo like concat('%',
            #{ ybAppealManageView.billNo} ,'%')
        </if>
        <if test="ybAppealManageView.proposalCode != null and ybAppealManageView.proposalCode != ''">and proposalCode
            like concat('%', #{ ybAppealManageView.proposalCode} ,'%')
        </if>
        <if test="ybAppealManageView.projectCode != null and ybAppealManageView.projectCode != ''">and projectCode like
            concat('%', #{ ybAppealManageView.projectCode} ,'%')
        </if>
        <if test="ybAppealManageView.projectName != null and ybAppealManageView.projectName != ''">and projectName like
            concat('%', #{ ybAppealManageView.projectName} ,'%')
        </if>
        <if test="ybAppealManageView.ruleName != null and ybAppealManageView.ruleName != ''">and ruleName like
            concat('%', #{ ybAppealManageView.ruleName} ,'%')
        </if>
        <if test="ybAppealManageView.deductReason != null and ybAppealManageView.deductReason != ''">and deductReason
            like concat('%', #{ ybAppealManageView.deductReason} ,'%')
        </if>
        <if test="ybAppealManageView.repaymentReason != null and ybAppealManageView.repaymentReason != ''">and
            repaymentReason like concat('%', #{ ybAppealManageView.repaymentReason} ,'%')
        </if>
        <if test="ybAppealManageView.doctorName != null and ybAppealManageView.doctorName != ''">and doctorName like
            concat('%', #{ ybAppealManageView.doctorName} ,'%')
        </if>
        <if test="ybAppealManageView.deptCode != null and ybAppealManageView.deptCode != ''">and deptCode like
            concat('%', #{ ybAppealManageView.deptCode} ,'%')
        </if>
        <if test="ybAppealManageView.deptName != null and ybAppealManageView.deptName != ''">and deptName like
            concat('%', #{ ybAppealManageView.deptName} ,'%')
        </if>
        <if test="ybAppealManageView.hospitalizedNo != null and ybAppealManageView.hospitalizedNo != ''">and
            hospitalizedNo like concat('%', #{ ybAppealManageView.hospitalizedNo} ,'%')
        </if>
        <if test="ybAppealManageView.treatmentMode != null and ybAppealManageView.treatmentMode != ''">and treatmentMode
            like concat('%', #{ ybAppealManageView.treatmentMode} ,'%')
        </if>
        <if test="ybAppealManageView.personalNo != null and ybAppealManageView.personalNo != ''">and personalNo like
            concat('%', #{ ybAppealManageView.personalNo} ,'%')
        </if>
        <if test="ybAppealManageView.insuredName != null and ybAppealManageView.insuredName != ''">and insuredName like
            concat('%', #{ ybAppealManageView.insuredName} ,'%')
        </if>
        <if test="ybAppealManageView.cardNumber != null and ybAppealManageView.cardNumber != ''">and cardNumber like
            concat('%', #{ ybAppealManageView.cardNumber} ,'%')
        </if>
        <if test="ybAppealManageView.areaName != null and ybAppealManageView.areaName != ''">and areaName like
            concat('%', #{ ybAppealManageView.areaName} ,'%')
        </if>
        <if test="ybAppealManageView.versionNumber != null and ybAppealManageView.versionNumber != ''">and versionNumber
            like concat('%', #{ ybAppealManageView.versionNumber} ,'%')
        </if>
        <if test="ybAppealManageView.backAppeal != null and ybAppealManageView.backAppeal != ''">and backAppeal like
            concat('%', #{ ybAppealManageView.backAppeal} ,'%')
        </if>
        <if test="ybAppealManageView.typeno != null">and typeno =#{ ybAppealManageView.typeno}</if>
        <if test="ybAppealManageView.applyDateStr != null and ybAppealManageView.applyDateStr != ''">and applyDateStr
            like concat('%', #{ ybAppealManageView.applyDateStr} ,'%')
        </if>
        <if test="ybAppealManageView.id != null">and id =#{ ybAppealManageView.id}</if>
        <if test="ybAppealManageView.applyDataId != null">and applyDataId =#{ ybAppealManageView.applyDataId}</if>
        <if test="ybAppealManageView.verifyId != null">and verifyId =#{ ybAppealManageView.verifyId}</if>
        <if test="ybAppealManageView.readyDoctorCode != null and ybAppealManageView.readyDoctorCode != ''">and
            readyDoctorCode like concat('%', #{ ybAppealManageView.readyDoctorCode} ,'%')
        </if>
        <if test="ybAppealManageView.readyDoctorName != null and ybAppealManageView.readyDoctorName != ''">and
            readyDoctorName like concat('%', #{ ybAppealManageView.readyDoctorName} ,'%')
        </if>
        <if test="ybAppealManageView.readyDeptCode != null and ybAppealManageView.readyDeptCode != ''">and readyDeptCode
            like concat('%', #{ ybAppealManageView.readyDeptCode} ,'%')
        </if>
        <if test="ybAppealManageView.readyDeptName != null and ybAppealManageView.readyDeptName != ''">and readyDeptName
            like concat('%', #{ ybAppealManageView.readyDeptName} ,'%')
        </if>
        <if test="ybAppealManageView.changeDoctorCode != null and ybAppealManageView.changeDoctorCode != ''">and
            changeDoctorCode like concat('%', #{ ybAppealManageView.changeDoctorCode} ,'%')
        </if>
        <if test="ybAppealManageView.changeDoctorName != null and ybAppealManageView.changeDoctorName != ''">and
            changeDoctorName like concat('%', #{ ybAppealManageView.changeDoctorName} ,'%')
        </if>
        <if test="ybAppealManageView.changeDeptCode != null and ybAppealManageView.changeDeptCode != ''">and
            changeDeptCode like concat('%', #{ ybAppealManageView.changeDeptCode} ,'%')
        </if>
        <if test="ybAppealManageView.changeDeptName != null and ybAppealManageView.changeDeptName != ''">and
            changeDeptName like concat('%', #{ ybAppealManageView.changeDeptName} ,'%')
        </if>
        <if test="ybAppealManageView.operateReason != null and ybAppealManageView.operateReason != ''">and operateReason
            like concat('%', #{ ybAppealManageView.operateReason} ,'%')
        </if>
        <if test="ybAppealManageView.operateDateFrom!= null">
            AND ybAppealManageView.operateDate <![CDATA[ >= ]]>  operateDateFrom}
        </if>
        <if test="ybAppealManageView.operateDateTo!= null">
            AND ybAppealManageView.operateDate <![CDATA[ <= ]]>  operateDateTo}
        </if>
        <if test="ybAppealManageView.acceptState != null">and acceptState =#{ ybAppealManageView.acceptState}</if>
        <if test="ybAppealManageView.refuseName != null and ybAppealManageView.refuseName != ''">and refuseName like
            concat('%', #{ ybAppealManageView.refuseName} ,'%')
        </if>
        <if test="ybAppealManageView.refuseReason != null and ybAppealManageView.refuseReason != ''">and refuseReason
            like concat('%', #{ ybAppealManageView.refuseReason} ,'%')
        </if>
        <if test="ybAppealManageView.refuseDateFrom!= null">
            AND ybAppealManageView.refuseDate <![CDATA[ >= ]]>  refuseDateFrom}
        </if>
        <if test="ybAppealManageView.refuseDateTo!= null">
            AND ybAppealManageView.refuseDate <![CDATA[ <= ]]>  refuseDateTo}
        </if>
        <if test="ybAppealManageView.adminPersonName != null and ybAppealManageView.adminPersonName != ''">and
            adminPersonName like concat('%', #{ ybAppealManageView.adminPersonName} ,'%')
        </if>
        <if test="ybAppealManageView.adminChangeDateFrom!= null">
            AND ybAppealManageView.adminChangeDate <![CDATA[ >= ]]>  adminChangeDateFrom}
        </if>
        <if test="ybAppealManageView.adminChangeDateTo!= null">
            AND ybAppealManageView.adminChangeDate <![CDATA[ <= ]]>  adminChangeDateTo}
        </if>
        <if test="ybAppealManageView.adminReason != null and ybAppealManageView.adminReason != ''">and adminReason like
            concat('%', #{ ybAppealManageView.adminReason} ,'%')
        </if>
        <if test="ybAppealManageView.enableDateFrom!= null">
            AND ybAppealManageView.enableDate <![CDATA[ >= ]]>  enableDateFrom}
        </if>
        <if test="ybAppealManageView.enableDateTo!= null">
            AND ybAppealManageView.enableDate <![CDATA[ <= ]]>  enableDateTo}
        </if>
        <if test="ybAppealManageView.enableType != null">and enableType =#{ ybAppealManageView.enableType}</if>
        <if test="ybAppealManageView.sourceType != null">and sourceType =#{ ybAppealManageView.sourceType}</if>
        <if test="ybAppealManageView.state != null">and STATE =#{ ybAppealManageView.state}</if>
        <if test="ybAppealManageView.currencyField != null and ybAppealManageView.currencyField != ''">and currencyField
            like concat('%', #{ ybAppealManageView.currencyField} ,'%')
        </if>
    </select>
    <select id="findAppealManageView" resultType="cc.mrbird.febs.yb.entity.YbAppealManageView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        am.typeno,
        ad.insuredType,
        am.dataType,
        ad.orderNumber,
        ad.orderNum,
        ra.applyDateStr,
        CASE WHEN am.typeno=1 THEN ra.endDateOne ELSE ra.endDateTwo END applyEndDate,
        am.id,
        ad.id applyDataId,
        am.verifyId,
        am.readyDoctorCode,
        am.readyDoctorName,
        am.readyDeptCode,
        am.readyDeptName,
        am.changeDoctorCode,
        am.changeDoctorName,
        am.changeDeptCode,
        am.changeDeptName,
        am.operateReason,
        am.operateDate,
        am.acceptState,
        am.refuseId,
        am.refuseName,
        am.refuseReason,
        am.refuseDate,
        am.adminPersonId,
        am.adminPersonName,
        am.adminChangeDate,
        am.adminReason,
        CASE WHEN am.typeno = 1 THEN
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateOne,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        ELSE
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateTwo,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        END isEnableDate,
        date_add(am.enableDate,INTERVAL -1 DAY) enableDate,
        am.STATE,
        am.currencyField,
        am.sourceType,
        am.operateProcess,
        am.verifySendId,
        am.approvalState,
        am.orderDoctorCode,
        am.orderDoctorName,
        am.orderDeptCode,
        am.orderDeptName,
        CASE WHEN am.sourceType = 0 THEN
        CASE WHEN am.typeno = 1 THEN
        case when (UNIX_TIMESTAMP(ra.endDateOne)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        ELSE
        case when (UNIX_TIMESTAMP(ra.endDateTwo)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        END
        ELSE 0 END isEnd,
        case when (UNIX_TIMESTAMP(am.enableDate)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 1 else 0 end enableType
        from
        yb_appeal_manage am
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
        am.applyDataId = ad.id and ad.pid = #{ybAppealManageView.pid}
        STRAIGHT_JOIN yb_reconsider_apply ra ON ra.id = ad.pid and
        ra.id = #{ybAppealManageView.pid}
        where
        am.applyDateStr = #{ybAppealManageView.applyDateStr}
        <if test="ybAppealManageView.readyDoctorCode != null and ybAppealManageView.readyDoctorCode != ''">
            and am.readyDoctorCode = #{ybAppealManageView.readyDoctorCode}
        </if>
        <if test="ybAppealManageView.readyDeptName != null and ybAppealManageView.readyDeptName != ''">
            and am.readyDeptName = #{ybAppealManageView.readyDeptName}
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 10">
            and (am.acceptState = 1 or am.acceptState = 0)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 210">
            and (am.acceptState = 1 or am.acceptState = 0 or am.acceptState = 2)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState != 210 and ybAppealManageView.acceptState != 10">
            and am.acceptState = #{ybAppealManageView.acceptState}
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno==3">
            and am.sourceType = 1
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and am.typeno =#{ ybAppealManageView.typeno}
        </if>
        order by am.typeno,am.dataType,am.orderNum asc
    </select>

    <select id="findAppealManageCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select
        count(1)
        from
        yb_appeal_manage am
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
        am.applyDataId = ad.id and ad.pid = #{ybAppealManageView.pid}
        where
        am.applyDateStr = #{ybAppealManageView.applyDateStr}
        <if test="ybAppealManageView.readyDoctorCode != null and ybAppealManageView.readyDoctorCode != ''">
            and am.readyDoctorCode = #{ybAppealManageView.readyDoctorCode}
        </if>
        <if test="ybAppealManageView.readyDeptName != null and ybAppealManageView.readyDeptName != ''">
            and am.readyDeptName = #{ybAppealManageView.readyDeptName}
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 10">
            and (am.acceptState = 1 or am.acceptState = 0)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 210">
            and (am.acceptState = 1 or am.acceptState = 0 or am.acceptState = 2)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState != 210 and ybAppealManageView.acceptState != 10">
            and am.acceptState = #{ybAppealManageView.acceptState}
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno==3">
            and am.sourceType = 1
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and am.typeno =#{ ybAppealManageView.typeno}
        </if>
    </select>

    <select id="findAppealManageLikeView" resultType="cc.mrbird.febs.yb.entity.YbAppealManageView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        am.typeno,
        ad.insuredType,
        am.dataType,
        ad.orderNumber,
        ad.orderNum,
        ra.applyDateStr,
        CASE WHEN am.typeno=1 THEN ra.endDateOne ELSE ra.endDateTwo END applyEndDate,
        am.id,
        ad.id applyDataId,
        am.verifyId,
        am.readyDoctorCode,
        am.readyDoctorName,
        am.readyDeptCode,
        am.readyDeptName,
        am.changeDoctorCode,
        am.changeDoctorName,
        am.changeDeptCode,
        am.changeDeptName,
        am.operateReason,
        am.operateDate,
        am.acceptState,
        am.refuseId,
        am.refuseName,
        am.refuseReason,
        am.refuseDate,
        am.adminPersonId,
        am.adminPersonName,
        am.adminChangeDate,
        am.adminReason,
        CASE WHEN am.typeno = 1 THEN
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateOne,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        ELSE
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateTwo,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        END isEnableDate,
        date_add(am.enableDate,INTERVAL -1 DAY) enableDate,
        am.STATE,
        am.currencyField,
        am.sourceType,
        am.operateProcess,
        am.verifySendId,
        am.approvalState,
        am.orderDoctorCode,
        am.orderDoctorName,
        am.orderDeptCode,
        am.orderDeptName,
        CASE WHEN am.sourceType = 0 THEN
        CASE WHEN am.typeno = 1 THEN
        case when (UNIX_TIMESTAMP(ra.endDateOne)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        ELSE
        case when (UNIX_TIMESTAMP(ra.endDateTwo)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        END
        ELSE 0 END isEnd,
        case when (UNIX_TIMESTAMP(am.enableDate)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 1 else 0 end enableType
        from
        yb_reconsider_apply_data ad
        inner join yb_appeal_manage am  ON
        am.applyDataId = ad.id and
        am.applyDateStr = #{ybAppealManageView.applyDateStr}
        <if test="ybAppealManageView.readyDoctorCode != null and ybAppealManageView.readyDoctorCode != ''">
            and am.readyDoctorCode = #{ybAppealManageView.readyDoctorCode}
        </if>
        <if test="ybAppealManageView.readyDeptName != null and ybAppealManageView.readyDeptName != ''">
            and am.readyDeptName = #{ybAppealManageView.readyDeptName}
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 10">
            and (am.acceptState = 1 or am.acceptState = 0)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 210">
            and (am.acceptState = 1 or am.acceptState = 0 or am.acceptState = 2)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState != 210 and ybAppealManageView.acceptState != 10">
            and am.acceptState = #{ybAppealManageView.acceptState}
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno==3">
            and am.sourceType = 1
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and am.typeno =#{ ybAppealManageView.typeno}
        </if>
        inner join yb_reconsider_apply ra ON ra.id = ad.pid
        where
            (
            ad.pid = #{ ybAppealManageView.pid}
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and ad.typeno =#{ ybAppealManageView.typeno}
        </if>
            )
        <if test="ybAppealManageView.currencyField != null and ybAppealManageView.currencyField != ''">
            and (ad.serialNo like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.orderNumber = #{ ybAppealManageView.currencyField}
            or ad.proposalCode like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealManageView.currencyField} ,'%'))
        </if>
    </select>

    <select id="findAppealManageLikeCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select
        count(1)
        from
        yb_reconsider_apply_data ad
        inner join yb_appeal_manage am  ON
        am.applyDataId = ad.id and
        am.applyDateStr = #{ybAppealManageView.applyDateStr}
        <if test="ybAppealManageView.readyDoctorCode != null and ybAppealManageView.readyDoctorCode != ''">
            and am.readyDoctorCode = #{ybAppealManageView.readyDoctorCode}
        </if>
        <if test="ybAppealManageView.readyDeptName != null and ybAppealManageView.readyDeptName != ''">
            and am.readyDeptName = #{ybAppealManageView.readyDeptName}
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 10">
            and (am.acceptState = 1 or am.acceptState = 0)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState == 210">
            and (am.acceptState = 1 or am.acceptState = 0 or am.acceptState = 2)
        </if>
        <if test="ybAppealManageView.acceptState != null and ybAppealManageView.acceptState != 210 and ybAppealManageView.acceptState != 10">
            and am.acceptState = #{ybAppealManageView.acceptState}
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno==3">
            and am.sourceType = 1
        </if>
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and am.typeno =#{ ybAppealManageView.typeno}
        </if>
        inner join yb_reconsider_apply ra ON ra.id = ad.pid
        where
        (
        ad.pid = #{ ybAppealManageView.pid}
        <if test="ybAppealManageView.typeno != null and ybAppealManageView.typeno != 0 and ybAppealManageView.typeno!=3">
            and ad.typeno =#{ ybAppealManageView.typeno}
        </if>
        )
        <if test="ybAppealManageView.currencyField != null and ybAppealManageView.currencyField != ''">
            and (ad.serialNo like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.orderNumber = #{ ybAppealManageView.currencyField}
            or ad.proposalCode like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealManageView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealManageView.currencyField} ,'%'))
        </if>
    </select>

    <select id="findAppealManageList" resultType="cc.mrbird.febs.yb.entity.YbAppealManageView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealManageView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        am.typeno,
        ad.insuredType,
        am.dataType,
        ad.orderNumber,
        ad.orderNum,
        ra.applyDateStr,
        CASE WHEN am.typeno=1 THEN ra.endDateOne ELSE ra.endDateTwo END applyEndDate,
        am.id,
        ad.id applyDataId,
        am.verifyId,
        am.readyDoctorCode,
        am.readyDoctorName,
        am.readyDeptCode,
        am.readyDeptName,
        am.changeDoctorCode,
        am.changeDoctorName,
        am.changeDeptCode,
        am.changeDeptName,
        am.operateReason,
        am.operateDate,
        am.acceptState,
        am.refuseId,
        am.refuseName,
        am.refuseReason,
        am.refuseDate,
        am.adminPersonId,
        am.adminPersonName,
        am.adminChangeDate,
        am.adminReason,
        CASE WHEN am.typeno = 1 THEN
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateOne,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        ELSE
        CASE WHEN
        DATE_FORMAT(am.enableDate,'%Y-%m-%d %H:%i:%s')>DATE_FORMAT(ra.endDateTwo,'%Y-%m-%d %H:%i:%s' ) = 1
        THEN 0 ELSE 1 END
        END isEnableDate,
        date_add(am.enableDate,INTERVAL -1 DAY) enableDate,
        am.STATE,
        am.currencyField,
        am.sourceType,
        am.operateProcess,
        am.verifySendId,
        am.approvalState,
        am.orderDoctorCode,
        am.orderDoctorName,
        am.orderDeptCode,
        am.orderDeptName,
        CASE WHEN am.sourceType = 0 THEN
        CASE WHEN am.typeno = 1 THEN
        case when (UNIX_TIMESTAMP(ra.endDateOne)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        ELSE
        case when (UNIX_TIMESTAMP(ra.endDateTwo)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 0 else 1 end
        END
        ELSE 0 END isEnd,
        case when (UNIX_TIMESTAMP(am.enableDate)-UNIX_TIMESTAMP(sysdate()))/(60*60*24) > 0 then 1 else 0 end enableType
        from
        yb_appeal_manage am
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
        am.applyDataId = ad.id and ad.pid = #{ybAppealManageView.pid}
        STRAIGHT_JOIN yb_reconsider_apply ra ON ra.id = ad.pid and
        ra.id = #{ybAppealManageView.pid}
        where
        am.applyDateStr = #{ybAppealManageView.applyDateStr}
        <if test="ybAppealManageView.acceptState != null">
            and am.acceptState = #{ybAppealManageView.acceptState}
        </if>
        <if test="ybAppealManageView.typeno != null">
            and am.typeno = #{ybAppealManageView.typeno}
        </if>
        <if test="ybAppealManageView.sourceType != null">
            and am.sourceType = #{ybAppealManageView.sourceType}
        </if>
        <if test="ybAppealManageView.dataType != null">
            and am.dataType = #{ybAppealManageView.dataType}
        </if>
    </select>
</mapper>