<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealResultDeductimplementMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplement">
                    <id column="id" property="id"/>
                    <result column="resultId" property="resultId"/>
                    <result column="resetDataId" property="resetDataId"/>
                    <result column="implementDate" property="implementDate"/>
                    <result column="implementDateStr" property="implementDateStr"/>
                    <result column="shareState" property="shareState"/>
                    <result column="shareProgramme" property="shareProgramme"/>
            <result column="applyDate" property="applyDate"/>
            <result column="applyDateStr" property="applyDateStr"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, resultId, resetDataId, implementDate, implementDateStr, shareState, shareProgramme,applyDate,applyDateStr, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateYbAppealResultDeductimplement" parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplement">
        update yb_appeal_result_deductimplement
        <trim prefix="set" suffixOverrides=",">
<if test="resultId != null">resultId=#{resultId},</if>
<if test="resetDataId != null">resetDataId=#{resetDataId},</if>
<if test="implementDate != null">implementDate=#{implementDate},</if>
<if test="implementDateStr != null">implementDateStr=#{implementDateStr},</if>
<if test="shareState != null">shareState=#{shareState},</if>
<if test="shareProgramme != null">shareProgramme=#{shareProgramme},</if>
            <if test="applyDate != null">applyDate=#{applyDate},</if>
            <if test="applyDateStr != null">applyDateStr=#{applyDateStr},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbAppealResultDeductimplement" resultType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplement" parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplement">
        select  *  from yb_appeal_result_deductimplement
        where  1=1
            <if test="ybAppealResultDeductimplement.id != null and ybAppealResultDeductimplement.id != ''"> and id =#{ ybAppealResultDeductimplement.id} </if>
            <if test="ybAppealResultDeductimplement.resultId != null and ybAppealResultDeductimplement.resultId != ''"> and resultId like concat('%', #{ ybAppealResultDeductimplement.resultId} ,'%')</if>
            <if test="ybAppealResultDeductimplement.resetDataId != null and ybAppealResultDeductimplement.resetDataId != ''"> and resetDataId like concat('%', #{ ybAppealResultDeductimplement.resetDataId} ,'%')</if>
        <if test="ybAppealResultDeductimplement.implementDateFrom!= null">
            AND ybAppealResultDeductimplement.implementDate <![CDATA[ >= ]]>  implementDateFrom}
        </if>
        <if test="ybAppealResultDeductimplement.implementDateTo!= null">
            AND ybAppealResultDeductimplement.implementDate <![CDATA[ <= ]]>  implementDateTo}
        </if>
            <if test="ybAppealResultDeductimplement.implementDateStr != null and ybAppealResultDeductimplement.implementDateStr != ''"> and implementDateStr like concat('%', #{ ybAppealResultDeductimplement.implementDateStr} ,'%')</if>
        <if test="ybAppealResultDeductimplement.shareState != null"> and shareState =#{ ybAppealResultDeductimplement.shareState} </if>
            <if test="ybAppealResultDeductimplement.shareProgramme != null and ybAppealResultDeductimplement.shareProgramme != ''"> and shareProgramme like concat('%', #{ ybAppealResultDeductimplement.shareProgramme} ,'%')</if>
        <if test="ybAppealResultRepayment.applyDateFrom!= null">
            AND ybAppealResultRepayment.applyDate <![CDATA[ >= ]]>  applyDateFrom}
        </if>
        <if test="ybAppealResultRepayment.applyDateTo!= null">
            AND ybAppealResultRepayment.applyDate <![CDATA[ <= ]]>  applyDateTo}
        </if>
        <if test="ybAppealResultRepayment.applyDateStr != null and ybAppealResultRepayment.applyDateStr != ''">and applyDateStr like
            concat('%', #{ ybAppealResultRepayment.applyDateStr} ,'%')
        </if>
            <if test="ybAppealResultDeductimplement.comments != null and ybAppealResultDeductimplement.comments != ''"> and COMMENTS like concat('%', #{ ybAppealResultDeductimplement.comments} ,'%')</if>
        <if test="ybAppealResultDeductimplement.state != null"> and STATE =#{ ybAppealResultDeductimplement.state} </if>
        <if test="ybAppealResultDeductimplement.isDeletemark != null"> and IS_DELETEMARK =#{ ybAppealResultDeductimplement.isDeletemark} </if>
        <if test="ybAppealResultDeductimplement.modifyTimeFrom!= null">
            AND ybAppealResultDeductimplement.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="ybAppealResultDeductimplement.modifyTimeTo!= null">
            AND ybAppealResultDeductimplement.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="ybAppealResultDeductimplement.createTimeFrom!= null">
            AND ybAppealResultDeductimplement.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="ybAppealResultDeductimplement.createTimeTo!= null">
            AND ybAppealResultDeductimplement.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
</select>

</mapper>