<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealResultViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealResultView">
        <result column="pid" property="pid"/>
        <result column="serialNo" property="serialNo"/>
        <result column="billNo" property="billNo"/>
        <result column="proposalCode" property="proposalCode"/>
        <result column="projectCode" property="projectCode"/>
        <result column="projectName" property="projectName"/>
        <result column="num" property="num"/>
        <result column="medicalPrice" property="medicalPrice"/>
        <result column="ruleName" property="ruleName"/>
        <result column="deductPrice" property="deductPrice"/>
        <result column="deductReason" property="deductReason"/>
        <result column="repaymentReason" property="repaymentReason"/>
        <result column="doctorName" property="doctorName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptName" property="deptName"/>
        <result column="enterHospitalDateStr" property="enterHospitalDateStr"/>
        <result column="outHospitalDateStr" property="outHospitalDateStr"/>
        <result column="costDateStr" property="costDateStr"/>
        <result column="hospitalizedNo" property="hospitalizedNo"/>
        <result column="treatmentMode" property="treatmentMode"/>
        <result column="settlementDateStr" property="settlementDateStr"/>
        <result column="personalNo" property="personalNo"/>
        <result column="insuredName" property="insuredName"/>
        <result column="cardNumber" property="cardNumber"/>
        <result column="areaName" property="areaName"/>
        <result column="versionNumber" property="versionNumber"/>
        <result column="backAppeal" property="backAppeal"/>
        <result column="typeno" property="typeno"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="id" property="id"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="verifyId" property="verifyId"/>
        <result column="arDoctorCode" property="arDoctorCode"/>
        <result column="arDoctorName" property="arDoctorName"/>
        <result column="arDeptCode" property="arDeptCode"/>
        <result column="arDeptName" property="arDeptName"/>
        <result column="operateReason" property="operateReason"/>
        <result column="operateDate" property="operateDate"/>
        <result column="STATE" property="state"/>
        <result column="currencyField" property="currencyField"/>
        <result column="sourceType" property="sourceType"/>
        <result column="dataType" property="dataType"/>
        <result column="repayState" property="repayState"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="attendDocId" property="attendDocId"/>
        <result column="attendDocName" property="attendDocName"/>
        <result column="orderDeptId" property="orderDeptId"/>
        <result column="orderDeptName" property="orderDeptName"/>
        <result column="orderDocId" property="orderDocId"/>
        <result column="orderDocName" property="orderDocName"/>
        <result column="excuteDeptId" property="excuteDeptId"/>
        <result column="excuteDeptName" property="excuteDeptName"/>
        <result column="excuteDocId" property="excuteDocId"/>
        <result column="excuteDocName" property="excuteDocName"/>
        <result column="feeOperatorId" property="feeOperatorId"/>
        <result column="feeOperatorName" property="feeOperatorName"/>
        <result column="feeDeptId" property="feeDeptId"/>
        <result column="feeDeptName" property="feeDeptName"/>
        <result column="arOrderDoctorCode" property="arOrderDoctorCode"/>
        <result column="arOrderDoctorName" property="arOrderDoctorName"/>
        <result column="arOrderDeptCode" property="arOrderDeptCode"/>
        <result column="arOrderDeptName" property="arOrderDeptName"/>
        <result column="relatelDataId" property="relatelDataId"/>
        <result column="areaType" property="areaType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, serialNo, billNo, proposalCode, projectCode, projectName, num, medicalPrice, ruleName, deductPrice, deductReason, repaymentReason, doctorName, deptCode, deptName,enterHospitalDateStr,outHospitalDateStr,costDateStr, hospitalizedNo, treatmentMode, settlementDateStr, personalNo, insuredName, cardNumber, areaName, versionNumber, backAppeal, typeno, applyDateStr, id, applyDataId, verifyId, arDoctorCode, arDoctorName, arDeptCode, arDeptName, operateReason, operateDate, STATE,  currencyField,sourceType,dataType,orderNumber,orderNum,repayState,attendDocId,attendDocName,orderDeptId,orderDeptName,orderDocId,orderDocName,excuteDeptId,excuteDeptName,excuteDocId,excuteDocName,itemTypeName,feeOperatorId,feeOperatorName,feeDeptId,feeDeptName,arOrderDoctorCode,arOrderDoctorName,arOrderDeptCode,arOrderDeptName,relatelDataId,areaType
    </sql>
    <update id="updateYbAppealResultView" parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        update yb_appeal_result_view
        <trim prefix="set" suffixOverrides=",">
            <if test="serialNo != null">serialNo=#{serialNo},</if>
        </trim>

    </update>
    <select id="findYbAppealResultView" resultType="cc.mrbird.febs.yb.entity.YbAppealResultView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select  *  from yb_appeal_result_view
        where  1=1
</select>

    <select id="findAppealResultView" resultType="cc.mrbird.febs.yb.entity.YbAppealResultView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
            ad.pid,
            ad.serialNo,
            ad.billNo,
            ad.proposalCode,
            ad.projectCode,
            ad.projectName,
            ad.num,
            ad.medicalPrice,
            ad.ruleName,
            ad.deductPrice,
            ad.deductReason,
            ad.repaymentReason,
            ad.doctorName,
            ad.deptCode,
            ad.deptName,
            ad.enterHospitalDateStr,
            ad.outHospitalDateStr,
            ad.costDateStr,
            ad.hospitalizedNo,
            ad.treatmentMode,
            ad.settlementDateStr,
            ad.personalNo,
            ad.insuredName,
            ad.insuredType,
            ad.cardNumber,
            ad.areaName,
            ad.versionNumber,
            ad.backAppeal,
            art.typeno,
            art.applyDateStr,
            art.dataType,
            art.orderNumber,
            art.orderNum,
          art.id,
            art.applyDataId,
          art.verifyId,
            art.doctorCode arDoctorCode,
            art.doctorName arDoctorName,
            art.deptCode arDeptCode,
            art.deptName arDeptName,
            art.orderDoctorCode arOrderDoctorCode,
            art.orderDoctorName arOrderDoctorName,
            art.orderDeptCode arOrderDeptCode,
            art.orderDeptName arOrderDeptName,
            art.operateReason,
            art.operateDate,
            art.sourceType,
            art.STATE,
            art.repayState,
            '' currencyField,
            art.relatelDataId,
            art.areaType
        from
        yb_appeal_result art
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
            art.applyDataId = ad.id
        where
            art.applyDateStr = #{ ybAppealResultView.applyDateStr }
        <if test="ybAppealResultView.areaType!= null">
            and art.areaType = #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType!= null">
            and art.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.typeno!= null">
            and art.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and art.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.state!= null and ybAppealResultView.state != 12">
            and art.state = #{ybAppealResultView.state}
        </if>
        <if test="ybAppealResultView.relatelDataId!= null">
            and art.relatelDataId = #{ybAppealResultView.relatelDataId}
        </if>
        <if test="ybAppealResultView.billNo!= null">
            and ad.billNo = #{ybAppealResultView.billNo}
        </if>
        <if test="ybAppealResultView.serialNo!= null">
            and ad.serialNo = #{ybAppealResultView.serialNo}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectCode!= null">
            and ad.projectCode = #{ybAppealResultView.projectCode}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectName!= null">
            and ad.projectName = #{ybAppealResultView.projectName}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==1 and ybAppealResultView.personalNo!= null">
            and ad.personalNo = #{ybAppealResultView.personalNo}
        </if>
        <if test="ybAppealResultView.ruleName!= null">
            and ad.ruleName = #{ybAppealResultView.ruleName}
        </if>
        <if test="ybAppealResultView.dataType == 0 and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultView.dataType == 1 and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultView.dataType == null and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
        order by art.orderNum asc
</select>
    <select id="findAppealResultCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
            count(1)
        from
        yb_appeal_result art
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
            art.applyDataId = ad.id
        where
            art.applyDateStr = #{ ybAppealResultView.applyDateStr }
        <if test="ybAppealResultView.areaType!= null">
            and art.areaType = #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType!= null">
            and art.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.typeno!= null">
            and art.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and art.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.state!= null and ybAppealResultView.state != 12">
            and art.state = #{ybAppealResultView.state}
        </if>
        <if test="ybAppealResultView.relatelDataId!= null">
            and art.relatelDataId = #{ybAppealResultView.relatelDataId}
        </if>
        <if test="ybAppealResultView.billNo!= null">
            and ad.billNo = #{ybAppealResultView.billNo}
        </if>
        <if test="ybAppealResultView.serialNo!= null">
            and ad.serialNo = #{ybAppealResultView.serialNo}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectCode!= null">
            and ad.projectCode = #{ybAppealResultView.projectCode}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectName!= null">
            and ad.projectName = #{ybAppealResultView.projectName}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==1 and ybAppealResultView.personalNo!= null">
            and ad.personalNo = #{ybAppealResultView.personalNo}
        </if>
        <if test="ybAppealResultView.ruleName!= null">
            and ad.ruleName = #{ybAppealResultView.ruleName}
        </if>
        <if test="ybAppealResultView.dataType == 0 and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultView.dataType == 1 and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultView.dataType == null and ybAppealResultView.currencyField!= null and ybAppealResultView.currencyField!= ''">
            and (ad.serialNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.proposalCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.billNo like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectCode like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.projectName like concat('%', #{ ybAppealResultView.currencyField} ,'%')
            or ad.ruleName like concat('%', #{ ybAppealResultView.currencyField} ,'%'))
        </if>
    </select>


    <select id="findAppealResultResetView" resultType="cc.mrbird.febs.yb.entity.YbAppealResultView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.insuredType,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        art.typeno,
        art.applyDateStr,
        art.dataType,
        art.orderNumber,
        art.orderNum,
        art.id,
        art.applyDataId,
        art.verifyId,
        art.doctorCode arDoctorCode,
        art.doctorName arDoctorName,
        art.deptCode arDeptCode,
        art.deptName arDeptName,
        art.orderDoctorCode arOrderDoctorCode,
        art.orderDoctorName arOrderDoctorName,
        art.orderDeptCode arOrderDeptCode,
        art.orderDeptName arOrderDeptName,
        art.operateReason,
        art.operateDate,
        art.sourceType,
        art.STATE,
        art.repayState,
        '' currencyField,
        art.relatelDataId,
        art.areaType
        from
        yb_reconsider_apply_data ad
        inner join yb_appeal_result art ON
        art.applyDataId = ad.id
        <if test="ybAppealResultView.areaType!= null">
            and art.areaType = #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType!= null">
            and art.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.state!= null and ybAppealResultView.state != 12">
            and art.state = #{ybAppealResultView.state}
        </if>
        <if test="ybAppealResultView.typeno!= null">
            and art.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and art.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.relatelDataId!= null">
            and art.relatelDataId = #{ybAppealResultView.relatelDataId}
        </if>
        where
        ad.pid = #{ ybAppealResultView.pid }
        <if test="ybAppealResultView.typeno!= null">
            and ad.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and ad.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.billNo!= null">
            and ad.billNo = #{ybAppealResultView.billNo}
        </if>
        <if test="ybAppealResultView.serialNo!= null">
            and ad.serialNo = #{ybAppealResultView.serialNo}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectCode!= null">
            and ad.projectCode = #{ybAppealResultView.projectCode}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectName!= null">
            and ad.projectName = #{ybAppealResultView.projectName}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==1 and ybAppealResultView.personalNo!= null">
            and ad.personalNo = #{ybAppealResultView.personalNo}
        </if>
        <if test="ybAppealResultView.ruleName!= null">
            and ad.ruleName = #{ybAppealResultView.ruleName}
        </if>
        order by art.orderNum asc
    </select>
    <select id="findAppealResultResetCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
        count(1)
        from
        yb_reconsider_apply_data ad
        inner join yb_appeal_result art ON
        art.applyDataId = ad.id
        <if test="ybAppealResultView.areaType!= null">
            and art.areaType = #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType!= null">
            and art.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.state!= null and ybAppealResultView.state != 12">
            and art.state = #{ybAppealResultView.state}
        </if>
        <if test="ybAppealResultView.typeno!= null">
            and art.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and art.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.relatelDataId!= null">
            and art.relatelDataId = #{ybAppealResultView.relatelDataId}
        </if>
        where
        ad.pid = #{ ybAppealResultView.pid }
        <if test="ybAppealResultView.typeno!= null">
            and ad.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.dataType!= null">
            and ad.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.billNo!= null">
            and ad.billNo = #{ybAppealResultView.billNo}
        </if>
        <if test="ybAppealResultView.serialNo!= null">
            and ad.serialNo = #{ybAppealResultView.serialNo}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectCode!= null">
            and ad.projectCode = #{ybAppealResultView.projectCode}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==0 and ybAppealResultView.projectName!= null">
            and ad.projectName = #{ybAppealResultView.projectName}
        </if>
        <if test="ybAppealResultView.dataType!= null and ybAppealResultView.dataType==1 and ybAppealResultView.personalNo!= null">
            and ad.personalNo = #{ybAppealResultView.personalNo}
        </if>
        <if test="ybAppealResultView.ruleName!= null">
            and ad.ruleName = #{ybAppealResultView.ruleName}
        </if>
    </select>

    <select id="findAppealResultList" resultType="cc.mrbird.febs.yb.entity.YbAppealResultView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
            ad.pid,
            ad.serialNo,
            ad.billNo,
            ad.proposalCode,
            ad.projectCode,
            ad.projectName,
            ad.num,
            ad.medicalPrice,
            ad.ruleName,
            ad.deductPrice,
            ad.deductReason,
            ad.repaymentReason,
            ad.doctorName,
            ad.deptCode,
            ad.deptName,
            ad.enterHospitalDateStr,
            ad.outHospitalDateStr,
            ad.costDateStr,
            ad.hospitalizedNo,
            ad.treatmentMode,
            ad.settlementDateStr,
            ad.personalNo,
            ad.insuredName,
            ad.cardNumber,
            ad.areaName,
            ad.versionNumber,
            ad.backAppeal,
            ad.typeno,
            ad.insuredType,
            ad.dataType,
            ad.orderNumber,
            ad.orderNum,
            art.applyDateStr,
            art.id,
            art.applyDataId,
            art.verifyId,
            art.doctorCode arDoctorCode,
            art.doctorName arDoctorName,
            art.deptCode arDeptCode,
            art.deptName arDeptName,
            art.orderDoctorCode arOrderDoctorCode,
            art.orderDoctorName arOrderDoctorName,
            art.orderDeptCode arOrderDeptCode,
            art.orderDeptName arOrderDeptName,
            art.operateReason,
            art.operateDate,
            art.STATE,
            art.sourceType,
            art.repayState,
            '' currencyField,
            null orderDeptId,
            null orderDeptName,
            null orderDocId,
            null orderDocName,
            null excuteDeptId,
            null excuteDeptName,
            null excuteDocId,
            null excuteDocName,
            null attendDocId,
            null attendDocName,
            null itemTypeCode,
            null itemTypeName,
            null feeOperatorId,
            null feeOperatorName,
            null feeDeptId,
            null feeDeptName,
            art.areaType
        from
        yb_reconsider_apply_data ad
        LEFT JOIN yb_appeal_result art ON
            art.applyDataId = ad.id and
            art.applyDateStr = #{ ybAppealResultView.applyDateStr}
            <if test="ybAppealResultView.areaType!= null">
                and art.areaType = #{ybAppealResultView.areaType}
            </if>
            <if test="ybAppealResultView.sourceType != null ">
                and art.sourceType = #{ ybAppealResultView.sourceType}
            </if>
            <if test="ybAppealResultView.state != null and ybAppealResultView.state != 12 ">
                and art.state = #{ ybAppealResultView.state}
            </if>
        where
            ad.pid = #{ ybAppealResultView.pid}
        <if test="ybAppealResultView.typeno != null ">
            and ad.typeno = #{ ybAppealResultView.typeno}
        </if>
    </select>

    <select id="findAppealResultHandleList" resultType="cc.mrbird.febs.yb.entity.YbAppealResultView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        select
            ad.pid,
            ad.serialNo,
            ad.billNo,
            ad.proposalCode,
            ad.projectCode,
            ad.projectName,
            ad.num,
            ad.medicalPrice,
            ad.ruleName,
            ad.deductPrice,
            ad.deductReason,
            ad.repaymentReason,
            ad.doctorName,
            ad.deptCode,
            ad.deptName,
            ad.enterHospitalDateStr,
            ad.outHospitalDateStr,
            ad.costDateStr,
            ad.hospitalizedNo,
            ad.treatmentMode,
            ad.settlementDateStr,
            ad.personalNo,
            ad.insuredName,
            ad.cardNumber,
            ad.areaName,
            ad.versionNumber,
            ad.backAppeal,
            art.typeno,
            ad.insuredType,
            art.dataType,
            art.orderNumber,
            art.orderNum,
            art.applyDateStr,
            art.id,
            art.applyDataId,
            art.verifyId,
            art.doctorCode arDoctorCode,
            art.doctorName arDoctorName,
            art.deptCode arDeptCode,
            art.deptName arDeptName,
            art.orderDoctorCode arOrderDoctorCode,
            art.orderDoctorName arOrderDoctorName,
            art.orderDeptCode arOrderDeptCode,
            art.orderDeptName arOrderDeptName,
            art.operateReason,
            art.operateDate,
            art.STATE,
            art.sourceType,
            art.repayState,
            '' currencyField,
            null orderDeptId,
            null orderDeptName,
            null orderDocId,
            null orderDocName,
            null excuteDeptId,
            null excuteDeptName,
            null excuteDocId,
            null excuteDocName,
            null attendDocId,
            null attendDocName,
            null itemTypeCode,
            null itemTypeName,
            null feeOperatorId,
            null feeOperatorName,
            null feeDeptId,
            null feeDeptName,
            art.areaType
        from
            yb_appeal_result art
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
            art.applyDataId = ad.id
        where
            art.applyDateStr = #{ ybAppealResultView.applyDateStr }
        <if test="ybAppealResultView.areaType!= null">
            and art.areaType = #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType != null ">
            and art.sourceType = #{ ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.typeno != null ">and art.typeno = #{ ybAppealResultView.typeno}</if>
        <if test="ybAppealResultView.state != null and ybAppealResultView.state != 12 ">
            and art.state = #{ ybAppealResultView.state}
        </if>
    </select>

</mapper>