<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealConfireDataMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealConfireData">
                    <id column="id" property="id"/>
                    <result column="pid" property="pid"/>
                    <result column="deptCode" property="deptCode"/>
                    <result column="deptName" property="deptName"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, pid, deptCode, deptName, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateYbAppealConfireData" parameterType="cc.mrbird.febs.yb.entity.YbAppealConfireData">
        update yb_appeal_confire_data
        <trim prefix="set" suffixOverrides=",">
<if test="pid != null">pid=#{pid},</if>
<if test="deptCode != null">deptCode=#{deptCode},</if>
<if test="deptName != null">deptName=#{deptName},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbAppealConfireData" resultType="cc.mrbird.febs.yb.entity.YbAppealConfireData" parameterType="cc.mrbird.febs.yb.entity.YbAppealConfireData">
        select  *  from yb_appeal_confire_data
        where  1=1
            <if test="ybAppealConfireData.id != null and ybAppealConfireData.id != ''"> and id =#{ ybAppealConfireData.id} </if>
            <if test="ybAppealConfireData.pid != null and ybAppealConfireData.pid != ''"> and pid like concat('%', #{ ybAppealConfireData.pid} ,'%')</if>
            <if test="ybAppealConfireData.deptCode != null and ybAppealConfireData.deptCode != ''"> and deptCode like concat('%', #{ ybAppealConfireData.deptCode} ,'%')</if>
            <if test="ybAppealConfireData.deptName != null and ybAppealConfireData.deptName != ''"> and deptName like concat('%', #{ ybAppealConfireData.deptName} ,'%')</if>
            <if test="ybAppealConfireData.comments != null and ybAppealConfireData.comments != ''"> and COMMENTS like concat('%', #{ ybAppealConfireData.comments} ,'%')</if>
        <if test="ybAppealConfireData.state != null"> and STATE =#{ ybAppealConfireData.state} </if>
        <if test="ybAppealConfireData.isDeletemark != null"> and IS_DELETEMARK =#{ ybAppealConfireData.isDeletemark} </if>
        <if test="ybAppealConfireData.modifyTimeFrom!= null">
            AND ybAppealConfireData.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="ybAppealConfireData.modifyTimeTo!= null">
            AND ybAppealConfireData.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="ybAppealConfireData.createTimeFrom!= null">
            AND ybAppealConfireData.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="ybAppealConfireData.createTimeTo!= null">
            AND ybAppealConfireData.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
</select>

</mapper>