<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealResultDeductimplementViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        <result column="pid" property="pid"/>
        <result column="serialNo" property="serialNo"/>
        <result column="billNo" property="billNo"/>
        <result column="projectCode" property="projectCode"/>
        <result column="projectName" property="projectName"/>
        <result column="medicalPrice" property="medicalPrice"/>
        <result column="ruleName" property="ruleName"/>
        <result column="deductPrice" property="deductPrice"/>
        <result column="deductReason" property="deductReason"/>
        <result column="repaymentReason" property="repaymentReason"/>
        <result column="doctorName" property="doctorName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptName" property="deptName"/>
        <result column="costDateStr" property="costDateStr"/>
        <result column="hospitalizedNo" property="hospitalizedNo"/>
        <result column="treatmentMode" property="treatmentMode"/>
        <result column="settlementDateStr" property="settlementDateStr"/>
        <result column="personalNo" property="personalNo"/>
        <result column="insuredName" property="insuredName"/>
        <result column="cardNumber" property="cardNumber"/>
        <result column="areaName" property="areaName"/>
        <result column="typeno" property="typeno"/>
        <result column="insuredType" property="insuredType"/>
        <result column="dataType" property="dataType"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="applyDate" property="applyDate"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="id" property="id"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="arDoctorCode" property="arDoctorCode"/>
        <result column="arDoctorName" property="arDoctorName"/>
        <result column="arDeptCode" property="arDeptCode"/>
        <result column="arDeptName" property="arDeptName"/>
        <result column="resetDataId" property="resetDataId"/>
        <result column="relatelDataId" property="relatelDataId"/>
        <result column="currencyField" property="currencyField"/>
        <result column="implementDate" property="implementDate"/>
        <result column="implementDateStr" property="implementDateStr"/>
        <result column="shareState" property="shareState"/>
        <result column="shareProgramme" property="shareProgramme"/>
        <result column="deductImplementId" property="deductImplementId"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, serialNo, billNo,  projectCode, projectName,  medicalPrice, ruleName, deductPrice, deductReason, repaymentReason, doctorName, deptCode, deptName, costDateStr, hospitalizedNo, treatmentMode, settlementDateStr, personalNo, insuredName, cardNumber, areaName,  typeno, insuredType, dataType, orderNumber,orderNum, applyDate, applyDateStr,id, applyDataId, arDoctorCode, arDoctorName, arDeptCode, arDeptName, resetDataId,relatelDataId, currencyField, implementDate, implementDateStr, shareState, shareProgramme,deductImplementId
    </sql>
    <!--    proposalCode,num,enterHospitalDate, outHospitalDate,enterHospitalDateStr, outHospitalDateStr,versionNumber, backAppeal,operatorId, operatorName, raResetState, raResultState, raRepayState,-->
    <update id="updateYbAppealResultDeductimplementView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        update yb_appeal_result_deductimplement_view
        <trim prefix="set" suffixOverrides=",">
            <if test="serialNo != null">serialNo=#{serialNo},</if>
        </trim>

    </update>

    <select id="findAppealResultDeductimplementView"
            resultType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        rrd.pid,
        ardi.applyDate,
        ardi.applyDateStr,
        ardi.id resetDataId,
        ardi.relatelDataId,
        ardi.implementDate,
        ardi.implementDateStr,
        ardi.shareState,
        ardi.shareProgramme,
        ardi.id deductImplementId,
        rrd.serialNo,
        rrd.billNo,
        rrd.projectCode,
        rrd.projectName,
        rrd.medicalPrice,
        rrd.ruleName,
        rrd.deductPrice,
        rrd.deductReason,
        rrd.repaymentReason,
        rrd.doctorName,
        rrd.deptCode,
        rrd.deptName,
        rrd.costDate,
        rrd.costDateStr,
        rrd.hospitalizedNo,
        rrd.treatmentMode,
        rrd.settlementDateStr,
        rrd.personalNo,
        rrd.insuredName,
        rrd.cardNumber,
        rrd.areaName,
        rrd.insuredType,
        rrd.dataType,
        rrd.orderNumber,
        rrd.orderNum,
        art.id,
        art.typeno,
        art.doctorCode arDoctorCode,
        art.doctorName arDoctorName,
        art.deptCode arDeptCode,
        art.deptName arDeptName,
        art.currencyField
        FROM
            yb_appeal_result_deductImplement ardi
            INNER JOIN  yb_reconsider_reset_data rrd on
                ardi.resetDataId = rrd.id
            INNER JOIN yb_appeal_result art ON
                art.relatelDataId = rrd.relatelDataId and
                art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.implementDateStr != null and ybAppealResultDeductimplementView.implementDateStr != ''">
            ardi.implementDateStr=#{ ybAppealResultDeductimplementView.implementDateStr}
        </if>
        <if test="ybAppealResultDeductimplementView.implementDateFrom!= null">
            ardi.implementDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.implementDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.implementDateTo!= null">
            and ardi.implementDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.implementDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ardi.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
    </select>

    <select id="findAppealResultDeductimplementCount"
            resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        count(1)
        FROM
        yb_appeal_result_deductImplement ardi
        INNER JOIN  yb_reconsider_reset_data rrd on
        ardi.resetDataId = rrd.id
        INNER JOIN yb_appeal_result art ON
        art.relatelDataId = rrd.relatelDataId and
        art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.implementDateStr != null and ybAppealResultDeductimplementView.implementDateStr != ''">
            ardi.implementDateStr=#{ ybAppealResultDeductimplementView.implementDateStr}
        </if>
        <if test="ybAppealResultDeductimplementView.implementDateFrom!= null">
            ardi.implementDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.implementDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.implementDateTo!= null">
            and ardi.implementDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.implementDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ardi.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
    </select>

    <select id="findAppealResultDmtView"
            resultType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        rrd.pid,
        rr.applyDate,
        rr.applyDateStr,
        rrd.id resetDataId,
        rrd.relatelDataId,
        null implementDate,
        null implementDateStr,
        null shareState,
        null shareProgramme,
        null deductImplementId,
        rrd.serialNo,
        rrd.billNo,
        rrd.projectCode,
        rrd.projectName,
        rrd.medicalPrice,
        rrd.ruleName,
        rrd.deductPrice,
        rrd.deductReason,
        rrd.repaymentReason,
        rrd.doctorName,
        rrd.deptCode,
        rrd.deptName,
        rrd.costDate,
        rrd.costDateStr,
        rrd.hospitalizedNo,
        rrd.treatmentMode,
        rrd.settlementDateStr,
        rrd.personalNo,
        rrd.insuredName,
        rrd.cardNumber,
        rrd.areaName,
        rrd.insuredType,
        rrd.dataType,
        rrd.orderNumber,
        rrd.orderNum,
        art.id,
        art.typeno,
        art.doctorCode arDoctorCode,
        art.doctorName arDoctorName,
        art.deptCode arDeptCode,
        art.deptName arDeptName,
        art.currencyField
        from
        yb_reconsider_reset_data rrd
        INNER JOIN yb_reconsider_reset rr on
        rrd.pid = rr.id
        INNER JOIN yb_appeal_result art ON
        art.relatelDataId = rrd.relatelDataId AND
        art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.pid != null and ybAppealResultDeductimplementView.pid != ''">
            rr.id=#{ ybAppealResultDeductimplementView.pid}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and rrd.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        and rrd.id not in(
            select ard.resetDataId from yb_appeal_result_deductimplement ard where
            ard.applyDateStr=#{ ybAppealResultDeductimplementView.applyDateStr}
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ard.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        )
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>

    </select>
    <select id="findAppealResultDmtCount"
            resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        count(1)
        from
        yb_reconsider_reset_data rrd
        INNER JOIN yb_reconsider_reset rr on
        rrd.pid = rr.id
        INNER JOIN yb_appeal_result art ON
        art.relatelDataId = rrd.relatelDataId AND
        art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.pid != null and ybAppealResultDeductimplementView.pid != ''">
            rr.id=#{ ybAppealResultDeductimplementView.pid}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and rrd.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        and rrd.id not in(
        select ard.resetDataId from yb_appeal_result_deductimplement ard where
        ard.applyDateStr=#{ ybAppealResultDeductimplementView.applyDateStr}
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ard.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        )
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>

    </select>

    <select id="findAppealResultDmtUserView"
            resultType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        rrd.pid,
        rr.applyDate,
        rr.applyDateStr,
        rrd.id resetDataId,
        rrd.relatelDataId,
        null implementDate,
        null implementDateStr,
        null shareState,
        null shareProgramme,
        null deductImplementId,
        rrd.serialNo,
        rrd.billNo,
        rrd.projectCode,
        rrd.projectName,
        rrd.medicalPrice,
        rrd.ruleName,
        rrd.deductPrice,
        rrd.deductReason,
        rrd.repaymentReason,
        rrd.doctorName,
        rrd.deptCode,
        rrd.deptName,
        rrd.costDate,
        rrd.costDateStr,
        rrd.hospitalizedNo,
        rrd.treatmentMode,
        rrd.settlementDateStr,
        rrd.personalNo,
        rrd.insuredName,
        rrd.cardNumber,
        rrd.areaName,
        rrd.insuredType,
        rrd.dataType,
        rrd.orderNumber,
        rrd.orderNum,
        art.id,
        art.typeno,
        art.doctorCode arDoctorCode,
        art.doctorName arDoctorName,
        art.deptCode arDeptCode,
        art.deptName arDeptName,
        art.currencyField
        from
        yb_reconsider_reset_data rrd
        INNER JOIN yb_reconsider_reset rr on
        rrd.pid = rr.id
        INNER JOIN yb_appeal_result art ON
        art.relatelDataId = rrd.relatelDataId AND
        art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.applyDateStr != null and ybAppealResultDeductimplementView.applyDateStr != ''">
            rr.id=#{ ybAppealResultDeductimplementView.pid}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateFrom!= null">
            rr.applyDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.applyDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateTo!= null">
            and rr.applyDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.applyDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and rrd.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        and rrd.id not in(
        select ard.id from yb_appeal_result_deductimplement ard where
        <if test="ybAppealResultDeductimplementView.applyDateStr != null and ybAppealResultDeductimplementView.applyDateStr != ''">
            ard.applyDateStr=#{ ybAppealResultDeductimplementView.applyDateStr}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateFrom!= null">
            ard.applyDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.applyDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateTo!= null">
            AND ard.applyDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.applyDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ard.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        )
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>

    </select>
    <select id="findAppealResultDmtUserCount"
            resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultDeductimplementView">
        SELECT
        count(1)
        from
        yb_reconsider_reset_data rrd
        INNER JOIN yb_reconsider_reset rr on
        rrd.pid = rr.id
        INNER JOIN yb_appeal_result art ON
        art.relatelDataId = rrd.relatelDataId AND
        art.state = 2
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and art.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        <if test="ybAppealResultDeductimplementView.arDoctorCode != null and ybAppealResultDeductimplementView.arDoctorCode != ''">
            and art.doctorCode=#{ ybAppealResultDeductimplementView.arDoctorCode}
        </if>
        where
        <if test="ybAppealResultDeductimplementView.pid != null and ybAppealResultDeductimplementView.pid != ''">
            rr.id=#{ ybAppealResultDeductimplementView.pid}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateFrom!= null">
            rr.applyDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.applyDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateTo!= null">
            and rr.applyDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.applyDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and rrd.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        and rrd.id not in(
        select ard.id from yb_appeal_result_deductimplement ard where
        <if test="ybAppealResultDeductimplementView.applyDateStr != null and ybAppealResultDeductimplementView.applyDateStr != ''">
            ard.applyDateStr=#{ ybAppealResultDeductimplementView.applyDateStr}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateFrom!= null">
            ard.applyDate <![CDATA[ >= ]]>  #{ybAppealResultDeductimplementView.applyDateFrom}
        </if>
        <if test="ybAppealResultDeductimplementView.applyDateTo!= null">
            AND ard.applyDate <![CDATA[ <= ]]>  #{ybAppealResultDeductimplementView.applyDateTo}
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null">
            and ard.dataType=#{ ybAppealResultDeductimplementView.dataType}
        </if>
        )
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 0 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType != null and ybAppealResultDeductimplementView.dataType == 1 and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>
        <if test="ybAppealResultDeductimplementView.dataType == null and ybAppealResultDeductimplementView.currencyField!= null and ybAppealResultDeductimplementView.currencyField != ''">
            and (rrd.serialNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.billNo like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectCode like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.projectName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%')
            or rrd.ruleName like concat('%', #{ ybAppealResultDeductimplementView.currencyField} ,'%'))
        </if>

    </select>

</mapper>