<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealResult">
        <id column="id" property="id"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="verifyId" property="verifyId"/>
        <result column="manageId" property="manageId"/>
        <result column="doctorCode" property="doctorCode"/>
        <result column="doctorName" property="doctorName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptName" property="deptName"/>
        <result column="operateReason" property="operateReason"/>
        <result column="operateDate" property="operateDate"/>
        <result column="sourceType" property="sourceType"/>
        <result column="relatelDataId" property="relatelDataId"/>
        <!--        <result column="resetDataId" property="resetDataId"/>-->
        <!--        <result column="resetPersonId" property="resetPersonId"/>-->
        <!--        <result column="resetPersonName" property="resetPersonName"/>-->
        <result column="resetDate" property="resetDate"/>
        <result column="dataType" property="dataType"/>
        <result column="orderDoctorCode" property="orderDoctorCode"/>
        <result column="orderDoctorName" property="orderDoctorName"/>
        <result column="orderDeptCode" property="orderDeptCode"/>
        <result column="orderDeptName" property="orderDeptName"/>
        <result column="repayState" property="repayState"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="typeno" property="typeno"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="COMMENTS" property="comments"/>
        <result column="STATE" property="state"/>
        <result column="IS_DELETEMARK" property="isDeletemark"/>
        <result column="areaType" property="areaType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, applyDataId, verifyId, manageId, doctorCode, doctorName, deptCode, deptName, operateReason, operateDate, sourceType,relatelDataId,resetDate,dataType,orderDoctorCode,orderDoctorName,orderDeptCode,orderDeptName,repayState,applyDateStr,typeno,orderNumber,orderNum, COMMENTS, STATE, IS_DELETEMARK, areaType
    </sql>
    <!--    resetDataId,resetPersonId,resetPersonName,-->
    <update id="updateYbAppealResult" parameterType="cc.mrbird.febs.yb.entity.YbAppealResult">
        update yb_appeal_result
        <trim prefix="set" suffixOverrides=",">
            <if test="applyDataId != null">applyDataId=#{applyDataId},</if>
            <if test="verifyId != null">verifyId=#{verifyId},</if>
            <if test="manageId != null">manageId=#{manageId},</if>
            <if test="doctorCode != null">doctorCode=#{doctorCode},</if>
            <if test="doctorName != null">doctorName=#{doctorName},</if>
            <if test="deptCode != null">deptCode=#{deptCode},</if>
            <if test="deptName != null">deptName=#{deptName},</if>
            <if test="operateReason != null">operateReason=#{operateReason},</if>
            <if test="operateDate != null">operateDate=#{operateDate},</if>
            <if test="sourceType != null">sourceType=#{sourceType},</if>
            <if test="relatelDataId != null">relatelDataId=#{relatelDataId},</if>
            <!--            <if test="resetDataId != null">resetDataId=#{resetDataId},</if>-->
            <!--            <if test="resetPersonId != null">resetPersonId=#{resetPersonId},</if>-->
            <!--            <if test="resetPersonName != null">resetPersonName=#{resetPersonName},</if>-->
            <if test="resetDate != null">resetDate=#{resetDate},</if>
            <if test="dataType != null">dataType=#{dataType},</if>
            <if test="orderDoctorCode != null">orderDoctorCode=#{orderDoctorCode},</if>
            <if test="orderDoctorName != null">orderDoctorName=#{orderDoctorName},</if>
            <if test="orderDeptCode != null">orderDeptCode=#{orderDeptCode},</if>
            <if test="orderDeptName != null">orderDeptName=#{orderDeptName},</if>
            <if test="repayState != null">repayState=#{repayState},</if>
            <if test="applyDateStr != null">applyDateStr=#{applyDateStr},</if>
            <if test="typeno != null">typeno=#{typeno},</if>
            <if test="orderNumber != null">orderNumber=#{orderNumber},</if>
            <if test="orderNum != null">orderNum=#{orderNum},</if>
            <if test="comments != null">COMMENTS=#{comments},</if>
            <if test="state != null">STATE=#{state},</if>
            <if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
            <if test="areaType != null">areaType=#{areaType},</if>
        </trim>
        where id=#{id}

    </update>
    <select id="findYbAppealResult" resultType="cc.mrbird.febs.yb.entity.YbAppealResult"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResult">
        select * from yb_appeal_result
        where 1=1
        <if test="ybAppealResult.id != null and ybAppealResult.id != ''">and id =#{ ybAppealResult.id}</if>
        <if test="ybAppealResult.applyDataId != null and ybAppealResult.applyDataId != ''">and applyDataId
            =#{ ybAppealResult.applyDataId}
        </if>
        <if test="ybAppealResult.verifyId != null and ybAppealResult.verifyId != ''">and verifyId
            =#{ ybAppealResult.verifyId}
        </if>
        <if test="ybAppealResult.manageId != null and ybAppealResult.manageId != ''">and manageId
            =#{ ybAppealResult.manageId}
        </if>
        <if test="ybAppealResult.doctorCode != null and ybAppealResult.doctorCode != ''">and doctorCode like concat('%',
            #{ ybAppealResult.doctorCode} ,'%')
        </if>
        <if test="ybAppealResult.doctorName != null and ybAppealResult.doctorName != ''">and doctorName like concat('%',
            #{ ybAppealResult.doctorName} ,'%')
        </if>
        <if test="ybAppealResult.deptCode != null and ybAppealResult.deptCode != ''">and deptCode like concat('%',
            #{ ybAppealResult.deptCode} ,'%')
        </if>
        <if test="ybAppealResult.deptName != null and ybAppealResult.deptName != ''">and deptName like concat('%',
            #{ ybAppealResult.deptName} ,'%')
        </if>
        <if test="ybAppealResult.operateReason != null and ybAppealResult.operateReason != ''">and operateReason like
            concat('%', #{ ybAppealResult.operateReason} ,'%')
        </if>
        <if test="ybAppealResult.operateDateFrom!= null">
            AND ybAppealResult.operateDate <![CDATA[ >= ]]>  operateDateFrom}
        </if>
        <if test="ybAppealResult.operateDateTo!= null">
            AND ybAppealResult.operateDate <![CDATA[ <= ]]>  operateDateTo}
        </if>
        <if test="ybAppealResult.sourceType != null">and sourceType =#{ ybAppealResult.sourceType}</if>
        <if test="ybAppealResult.repayState != null">and repayState =#{ ybAppealResult.repayState}</if>
        <if test="ybAppealResult.resetDateFrom!= null">
            AND ybAppealResult.resetDate <![CDATA[ >= ]]>  resetDateFrom}
        </if>
        <if test="ybAppealResult.resetDateTo!= null">
            AND ybAppealResult.resetDate <![CDATA[ <= ]]>  resetDateTo}
        </if>
        <if test="ybAppealResult.comments != null and ybAppealResult.comments != ''">and COMMENTS like concat('%',
            #{ ybAppealResult.comments} ,'%')
        </if>
        <if test="ybAppealResult.state != null">and STATE =#{ ybAppealResult.state}</if>
        <if test="ybAppealResult.areaType != null">and ybAppealResult.areaType =#{ ybAppealResult.areaType}</if>
    </select>
    <select id="findAppealResultGroupSumDept" resultType="cc.mrbird.febs.yb.entity.YbResultDownLoad"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        SELECT
            id,asCode deptId,asName deptName
        FROM
        yb_appeal_sumdept
        WHERE
        IS_DELETEMARK = 1 and
        <if test="ybAppealResultView.areaType != null">
        areaType =  #{ybAppealResultView.areaType} and
        </if>
        ID IN(
        select DISTINCT pid from yb_appeal_sumdept_data where deptId in (
            SELECT
                yb_appeal_result.deptCode
            FROM
                yb_appeal_result
                INNER JOIN com_file ON
                com_file.REF_TAB_ID = yb_appeal_result.id and
                com_file.IS_DELETEMARK = 1
        WHERE
                yb_appeal_result.applyDateStr = #{ybAppealResultView.applyDateStr}
                <if test="ybAppealResultView.areaType != null">
                    and yb_appeal_result.areaType =  #{ybAppealResultView.areaType}
                </if>
                <if test="ybAppealResultView.sourceType != null">
                    and yb_appeal_result.sourceType = #{ybAppealResultView.sourceType}
                </if>
                <if test="ybAppealResultView.dataType != null">
                    and yb_appeal_result.dataType = #{ybAppealResultView.dataType}
                </if>
                <if test="ybAppealResultView.typeno != null">
                    and yb_appeal_result.typeno = #{ybAppealResultView.typeno}
                </if>
                <if test="ybAppealResultView.state != null and ybAppealResultView.state==1">
                    and yb_appeal_result.STATE = 1
                </if>
                <if test="ybAppealResultView.state != null and ybAppealResultView.state==2">
                    and yb_appeal_result.STATE = 2
                </if>
                group by yb_appeal_result.deptCode
            )
        )
    </select>

    <select id="findAppealResultGroupDept" resultType="cc.mrbird.febs.yb.entity.YbResultDownLoad"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
        SELECT
        uuid() id,yb_appeal_result.deptCode deptId,yb_appeal_result.deptName
        FROM
        yb_appeal_result
        INNER JOIN com_file ON
        com_file.REF_TAB_ID = yb_appeal_result.id and
        com_file.IS_DELETEMARK = 1
        WHERE
        yb_appeal_result.applyDateStr = #{ybAppealResultView.applyDateStr}
        <if test="ybAppealResultView.areaType != null">
            and yb_appeal_result.areaType =  #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType != null">
            and yb_appeal_result.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.dataType != null">
            and yb_appeal_result.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.typeno != null">
            and yb_appeal_result.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.state != null and ybAppealResultView.state==1">
            and yb_appeal_result.STATE = 1
        </if>
        <if test="ybAppealResultView.state != null and ybAppealResultView.state==2">
            and yb_appeal_result.STATE = 2
        </if>
        group BY
        yb_appeal_result.deptCode,yb_appeal_result.deptName
    </select>

    <select id="findAppealResultNotDept" resultType="cc.mrbird.febs.yb.entity.YbResultDownLoad"
            parameterType="cc.mrbird.febs.yb.entity.YbAppealResultView">
	SELECT
	    uuid() id,
        yb_appeal_result.deptCode deptId,
        yb_appeal_result.deptName
    FROM
        yb_appeal_result
        INNER JOIN com_file ON com_file.REF_TAB_ID = yb_appeal_result.id
        AND com_file.IS_DELETEMARK = 1
    WHERE
        yb_appeal_result.applyDateStr = #{ybAppealResultView.applyDateStr}
        <if test="ybAppealResultView.areaType != null">
            and yb_appeal_result.areaType =  #{ybAppealResultView.areaType}
        </if>
        <if test="ybAppealResultView.sourceType != null">
            and yb_appeal_result.sourceType = #{ybAppealResultView.sourceType}
        </if>
        <if test="ybAppealResultView.dataType != null">
            and yb_appeal_result.dataType = #{ybAppealResultView.dataType}
        </if>
        <if test="ybAppealResultView.typeno != null">
            and yb_appeal_result.typeno = #{ybAppealResultView.typeno}
        </if>
        <if test="ybAppealResultView.state != null and ybAppealResultView.state==1">
            and yb_appeal_result.STATE = 1
        </if>
        <if test="ybAppealResultView.state != null and ybAppealResultView.state==2">
            and yb_appeal_result.STATE = 2
        </if>
        AND yb_appeal_result.deptCode NOT IN(
            SELECT
                yb_appeal_sumdept_data.deptId
            FROM
                yb_appeal_sumdept_data
                inner join yb_appeal_sumdept on
                    yb_appeal_sumdept.id = yb_appeal_sumdept_data.pid
            WHERE
                IS_DELETEMARK = 1
                <if test="ybAppealResultView.areaType != null">
                    and areaType =  #{ybAppealResultView.areaType}
                </if>
        )
    GROUP BY
        yb_appeal_result.deptCode ,yb_appeal_result.deptName
    </select>
    <select id="findAppealResulDataByReset" resultType="cc.mrbird.febs.yb.entity.YbAppealResult">
        SELECT
        *
        FROM
        yb_appeal_result
        where
        applyDateStr = #{ applyDateStr}
        AND areaType =#{ areaType}
        and sourceType = 0
        <if test="dataType != null">and dataType =#{ dataType}</if>
        AND state = 1
    </select>
    <select id="findAppealResulDataByRepay" resultType="cc.mrbird.febs.yb.entity.YbAppealResult">
        SELECT
        *
        FROM
        yb_appeal_result
        where
        applyDateStr = #{ applyDateStr}
        and areaType =#{ areaType}
        AND sourceType = 0
        <if test="dataType != null">and dataType =#{ dataType}</if>
        and state = 2
        AND repayState in (2,3)
    </select>
    <select id="findAppealResulDataHandle" resultType="cc.mrbird.febs.yb.entity.YbAppealResult">
        SELECT
            *
        FROM
            yb_appeal_result
        WHERE
            applyDateStr = #{applyDateStr}
            and areaType = #{areaType}
            and sourceType = 0
            and STATE = 2
        <if test="hvId != null">
            AND id NOT IN (
                SELECT
                    resultId
                FROM
                    yb_handle_verify_data
                WHERE
                    pid = #{hvId}
            )
        </if>
</select>
    <update id="updateAppealResultCancelData">
        update yb_appeal_result
        set
        relatelDataId = null,
        resetDate = null,
        repayState = 1,
        state = 1
        where id in (
        <foreach item="item" index="index" collection="resultList" separator=",">
            #{item.id}
        </foreach>
        )
    </update>
    <update id="updateAppealResulResetData">
        UPDATE yb_appeal_result
        INNER JOIN yb_reconsider_apply_data ON
            yb_reconsider_apply_data.id = yb_appeal_result.applyDataId
        INNER JOIN yb_reconsider_apply ON
            yb_reconsider_apply.id = yb_reconsider_apply_data.pid
        INNER JOIN (
            SELECT
                yb_reconsider_reset_data.id,
                yb_reconsider_reset.applyDateStr,
                yb_reconsider_reset_data.billNo,
                yb_reconsider_reset_data.serialNo,
                yb_reconsider_reset_data.projectCode,
                yb_reconsider_reset_data.projectName,
                yb_reconsider_reset_data.ruleName
            FROM
                yb_reconsider_reset_data
                INNER JOIN yb_reconsider_reset ON
                    yb_reconsider_reset_data.pid = yb_reconsider_reset.id
            WHERE
                yb_reconsider_reset.applyDateStr = #{applyDateStr}
        ) rrd ON rrd.billNo = yb_reconsider_apply_data.billNo AND
                    rrd.serialNo = yb_reconsider_apply_data.serialNo AND
                    rrd.projectCode = yb_reconsider_apply_data.projectCode AND
                    rrd.projectName = yb_reconsider_apply_data.projectName AND
                    rrd.ruleName = yb_reconsider_apply_data.ruleName AND
                    rrd.applyDateStr = yb_reconsider_apply.applyDateStr
        SET
            yb_appeal_result.resetDataId = rrd.id,
            yb_appeal_result.resetPersonId = #{resetPersonId},
            yb_appeal_result.resetPersonName = #{resetPersonName},
            yb_appeal_result.resetDate = #{resetDate}
        WHERE
            yb_reconsider_apply.applyDateStr = #{applyDateStr} AND
            yb_appeal_result.STATE = 1 AND
            yb_appeal_result.resetDataId IS NULL
    </update>
</mapper>