<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbAppealConfireDataMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbAppealConfireData">
                    <id column="id" property="id"/>
                    <result column="pid" property="pid"/>
                    <result column="deptId" property="deptId"/>
                    <result column="deptName" property="deptName"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, pid, deptId, deptName
    </sql>
    <update id="updateYbAppealConfireData" parameterType="cc.mrbird.febs.yb.entity.YbAppealConfireData">
        update yb_appeal_confire_data
        <trim prefix="set" suffixOverrides=",">
<if test="pid != null">pid=#{pid},</if>
<if test="deptId != null">deptId=#{deptId},</if>
<if test="deptName != null">deptName=#{deptName},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbAppealConfireData" resultType="cc.mrbird.febs.yb.entity.YbAppealConfireData" parameterType="cc.mrbird.febs.yb.entity.YbAppealConfireData">
        select  *  from yb_appeal_confire_data
        where  1=1
            <if test="ybAppealConfireData.id != null and ybAppealConfireData.id != ''"> and id =#{ ybAppealConfireData.id} </if>
            <if test="ybAppealConfireData.pid != null and ybAppealConfireData.pid != ''"> and pid like concat('%', #{ ybAppealConfireData.pid} ,'%')</if>
            <if test="ybAppealConfireData.deptId != null and ybAppealConfireData.deptId != ''"> and deptId like concat('%', #{ ybAppealConfireData.deptId} ,'%')</if>
            <if test="ybAppealConfireData.deptName != null and ybAppealConfireData.deptName != ''"> and deptName like concat('%', #{ ybAppealConfireData.deptName} ,'%')</if>

</select>

</mapper>