<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbHandleVerifyDataMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbHandleVerifyData">
                    <id column="id" property="id"/>
                    <result column="pid" property="pid"/>
<!--                    <result column="resetId" property="resetId"/>-->
                    <result column="applyDataId" property="applyDataId"/>
                    <result column="verifyId" property="verifyId"/>
                    <result column="manageId" property="manageId"/>
                    <result column="doctorCode" property="doctorCode"/>
                    <result column="doctorName" property="doctorName"/>
                    <result column="deptCode" property="deptCode"/>
                    <result column="deptName" property="deptName"/>
                    <result column="sendPersonId" property="sendPersonId"/>
                    <result column="sendPersonName" property="sendPersonName"/>
                    <result column="sendDate" property="sendDate"/>
                    <result column="dataType" property="dataType"/>
            <result column="orderDoctorCode" property="orderDoctorCode"/>
            <result column="orderDoctorName" property="orderDoctorName"/>
            <result column="orderDeptCode" property="orderDeptCode"/>
            <result column="orderDeptName" property="orderDeptName"/>
            <result column="typeno" property="typeno"/>
            <result column="orderNumber" property="orderNumber"/>
            <result column="orderNum" property="orderNum"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="resultId" property="resultId"/>
            <result column="relatelDataId" property="relatelDataId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, pid, applyDataId, verifyId, manageId, doctorCode, doctorName, deptCode, deptName, sendPersonId, sendPersonName, sendDate, dataType,orderDoctorCode,orderDoctorName,orderDeptCode,orderDeptName,typeno,orderNumber,orderNum, STATE, IS_DELETEMARK,  resultId, relatelDataId
    </sql>
<!--    resetId-->
    <update id="updateYbHandleVerifyData" parameterType="cc.mrbird.febs.yb.entity.YbHandleVerifyData">
        update yb_handle_verify_data
        <trim prefix="set" suffixOverrides=",">
<if test="pid != null">pid=#{pid},</if>
<!--<if test="resetId != null">resetId=#{resetId},</if>-->
<if test="applyDataId != null">applyDataId=#{applyDataId},</if>
<if test="verifyId != null">verifyId=#{verifyId},</if>
<if test="manageId != null">manageId=#{manageId},</if>
<if test="doctorCode != null">doctorCode=#{doctorCode},</if>
<if test="doctorName != null">doctorName=#{doctorName},</if>
<if test="deptCode != null">deptCode=#{deptCode},</if>
<if test="deptName != null">deptName=#{deptName},</if>
<if test="sendPersonId != null">sendPersonId=#{sendPersonId},</if>
<if test="sendPersonName != null">sendPersonName=#{sendPersonName},</if>
<if test="sendDate != null">sendDate=#{sendDate},</if>
<if test="dataType != null">dataType=#{dataType},</if>
<if test="orderDoctorCode != null">orderDoctorCode=#{orderDoctorCode},</if>
<if test="orderDoctorName != null">orderDoctorName=#{orderDoctorName},</if>
<if test="orderDeptCode != null">orderDeptCode=#{orderDeptCode},</if>
<if test="orderDeptName != null">orderDeptName=#{orderDeptName},</if>
<if test="typeno != null">typeno=#{typeno},</if>
<if test="orderNumber != null">orderNumber=#{orderNumber},</if>
<if test="orderNum != null">orderNum=#{orderNum},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="resultId != null">resultId=#{resultId},</if>
            <if test="relatelDataId != null">relatelDataId=#{relatelDataId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbHandleVerifyData" resultType="cc.mrbird.febs.yb.entity.YbHandleVerifyData" parameterType="cc.mrbird.febs.yb.entity.YbHandleVerifyData">
        select  *  from yb_handle_verify_data
        where  1=1
            <if test="ybHandleVerifyData.id != null and ybHandleVerifyData.id != ''"> and id =#{ ybHandleVerifyData.id} </if>
            <if test="ybHandleVerifyData.pid != null and ybHandleVerifyData.pid != ''"> and pid like concat('%', #{ ybHandleVerifyData.pid} ,'%')</if>
            <if test="ybHandleVerifyData.applyDataId != null and ybHandleVerifyData.applyDataId != ''"> and applyDataId like concat('%', #{ ybHandleVerifyData.applyDataId} ,'%')</if>
            <if test="ybHandleVerifyData.verifyId != null and ybHandleVerifyData.verifyId != ''"> and verifyId like concat('%', #{ ybHandleVerifyData.verifyId} ,'%')</if>
            <if test="ybHandleVerifyData.manageId != null and ybHandleVerifyData.manageId != ''"> and manageId like concat('%', #{ ybHandleVerifyData.manageId} ,'%')</if>
            <if test="ybHandleVerifyData.doctorCode != null and ybHandleVerifyData.doctorCode != ''"> and doctorCode like concat('%', #{ ybHandleVerifyData.doctorCode} ,'%')</if>
            <if test="ybHandleVerifyData.doctorName != null and ybHandleVerifyData.doctorName != ''"> and doctorName like concat('%', #{ ybHandleVerifyData.doctorName} ,'%')</if>
            <if test="ybHandleVerifyData.deptCode != null and ybHandleVerifyData.deptCode != ''"> and deptCode like concat('%', #{ ybHandleVerifyData.deptCode} ,'%')</if>
            <if test="ybHandleVerifyData.deptName != null and ybHandleVerifyData.deptName != ''"> and deptName like concat('%', #{ ybHandleVerifyData.deptName} ,'%')</if>
            <if test="ybHandleVerifyData.sendPersonName != null and ybHandleVerifyData.sendPersonName != ''"> and sendPersonName like concat('%', #{ ybHandleVerifyData.sendPersonName} ,'%')</if>
        <if test="ybHandleVerifyData.sendDateFrom!= null">
            AND ybHandleVerifyData.sendDate <![CDATA[ >= ]]>  sendDateFrom}
        </if>
        <if test="ybHandleVerifyData.sendDateTo!= null">
            AND ybHandleVerifyData.sendDate <![CDATA[ <= ]]>  sendDateTo}
        </if>

        <if test="ybHandleVerifyData.dataType != null"> and dataType =#{ ybHandleVerifyData.dataType} </if>

        <if test="ybHandleVerifyData.state != null"> and STATE =#{ ybHandleVerifyData.state} </if>
        <if test="ybHandleVerifyData.isDeletemark != null"> and IS_DELETEMARK =#{ ybHandleVerifyData.isDeletemark} </if>
            <if test="ybHandleVerifyData.resultId != null and ybHandleVerifyData.resultId != ''"> and resultId like concat('%', #{ ybHandleVerifyData.resultId} ,'%')</if>
        <if test="ybHandleVerifyData.relatelDataId != null and ybHandleVerifyData.relatelDataId != ''"> and relatelDataId like concat('%', #{ ybHandleVerifyData.relatelDataId} ,'%')</if>
</select>

    <select id="findHandleVerifyDataList" resultType="cc.mrbird.febs.yb.entity.YbHandleVerifyData">
        SELECT
            *
        FROM
            yb_handle_verify_data
        WHERE
        pid = #{ pid }
        <if test="state != null"> and state =#{ state } </if>
        <if test="dataType != null"> and dataType =#{ dataType } </if>
    </select>

    <select id="findHandleVerifyDataGroupRelateList" resultType="cc.mrbird.febs.yb.entity.YbHandleVerifyData">
        select * from yb_handle_verify_data where relatelDataId in(
            select relatelDataId from yb_handle_verify_data where pid = #{ pid } GROUP BY relatelDataId HAVING count(relatelDataId) > 1
        )
    </select>
</mapper>