<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbPersonMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbPerson">
                    <id column="id" property="id"/>
                    <result column="personCode" property="personCode"/>
                    <result column="personName" property="personName"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, personCode, personName, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateYbPerson" parameterType="cc.mrbird.febs.yb.entity.YbPerson">
        update yb_person
        <trim prefix="set" suffixOverrides=",">
<if test="personCode != null">personCode=#{personCode},</if>
<if test="personName != null">personName=#{personName},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbPerson" resultType="cc.mrbird.febs.yb.entity.YbPerson" parameterType="cc.mrbird.febs.yb.entity.YbPerson">
        select  *  from yb_person
        where  1=1
        <if test="ybPerson.id != null"> and id =#{ ybPerson.id} </if>
            <if test="ybPerson.personCode != null and ybPerson.personCode != ''"> and personCode like concat('%', #{ ybPerson.personCode} ,'%')</if>
            <if test="ybPerson.personName != null and ybPerson.personName != ''"> and personName like concat('%', #{ ybPerson.personName} ,'%')</if>
            <if test="ybPerson.comments != null and ybPerson.comments != ''"> and COMMENTS like concat('%', #{ ybPerson.comments} ,'%')</if>
        <if test="ybPerson.state != null"> and STATE =#{ ybPerson.state} </if>
        <if test="ybPerson.isDeletemark != null"> and IS_DELETEMARK =#{ ybPerson.isDeletemark} </if>
        <if test="ybPerson.modifyTimeFrom!= null">
            AND ybPerson.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="ybPerson.modifyTimeTo!= null">
            AND ybPerson.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="ybPerson.createTimeFrom!= null">
            AND ybPerson.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="ybPerson.createTimeTo!= null">
            AND ybPerson.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
</select>

</mapper>