<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbReconsiderRepayMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbReconsiderRepay">
                    <id column="id" property="id"/>
                    <result column="operatorId" property="operatorId"/>
                    <result column="operatorName" property="operatorName"/>
                    <result column="uploadFileName" property="uploadFileName"/>
                    <result column="repayType" property="repayType"/>
            <result column="dataType" property="dataType"/>
                    <result column="currencyField" property="currencyField"/>
                    <result column="COMMENTS" property="comments"/>
                    <result column="STATE" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, operatorId, operatorName, uploadFileName, repayType,dataType, currencyField, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateYbReconsiderRepay" parameterType="cc.mrbird.febs.yb.entity.YbReconsiderRepay">
        update yb_reconsider_repay
        <trim prefix="set" suffixOverrides=",">
<if test="operatorId != null">operatorId=#{operatorId},</if>
<if test="operatorName != null">operatorName=#{operatorName},</if>
<if test="uploadFileName != null">uploadFileName=#{uploadFileName},</if>
<if test="repayType != null">repayType=#{repayType},</if>
            <if test="dataType != null">dataType=#{dataType},</if>
<if test="currencyField != null">currencyField=#{currencyField},</if>
<if test="comments != null">COMMENTS=#{comments},</if>
<if test="state != null">STATE=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findYbReconsiderRepay" resultType="cc.mrbird.febs.yb.entity.YbReconsiderRepay" parameterType="cc.mrbird.febs.yb.entity.YbReconsiderRepay">
        select  *  from yb_reconsider_repay
        where  1=1
            <if test="ybReconsiderRepay.id != null and ybReconsiderRepay.id != ''"> and id =#{ ybReconsiderRepay.id} </if>
            <if test="ybReconsiderRepay.operatorName != null and ybReconsiderRepay.operatorName != ''"> and operatorName like concat('%', #{ ybReconsiderRepay.operatorName} ,'%')</if>
            <if test="ybReconsiderRepay.uploadFileName != null and ybReconsiderRepay.uploadFileName != ''"> and uploadFileName like concat('%', #{ ybReconsiderRepay.uploadFileName} ,'%')</if>
        <if test="ybReconsiderRepay.repayType != null"> and repayType =#{ ybReconsiderRepay.repayType} </if>
        <if test="ybReconsiderRepay.dataType != null"> and dataType =#{ ybReconsiderRepay.dataType} </if>
            <if test="ybReconsiderRepay.currencyField != null and ybReconsiderRepay.currencyField != ''"> and currencyField like concat('%', #{ ybReconsiderRepay.currencyField} ,'%')</if>
            <if test="ybReconsiderRepay.comments != null and ybReconsiderRepay.comments != ''"> and COMMENTS like concat('%', #{ ybReconsiderRepay.comments} ,'%')</if>
        <if test="ybReconsiderRepay.state != null"> and STATE =#{ ybReconsiderRepay.state} </if>
        <if test="ybReconsiderRepay.isDeletemark != null"> and IS_DELETEMARK =#{ ybReconsiderRepay.isDeletemark} </if>
        <if test="ybReconsiderRepay.modifyTimeFrom!= null">
            AND ybReconsiderRepay.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="ybReconsiderRepay.modifyTimeTo!= null">
            AND ybReconsiderRepay.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="ybReconsiderRepay.createTimeFrom!= null">
            AND ybReconsiderRepay.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="ybReconsiderRepay.createTimeTo!= null">
            AND ybReconsiderRepay.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
</select>

</mapper>