<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbReconsiderResetResultViewMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbReconsiderResetResultView">
                    <result column="id" property="id"/>
                    <result column="serialNo" property="serialNo"/>
                    <result column="billNo" property="billNo"/>
                    <result column="projectCode" property="projectCode"/>
                    <result column="projectName" property="projectName"/>
                    <result column="medicalPrice" property="medicalPrice"/>
                    <result column="ruleName" property="ruleName"/>
                    <result column="deductPrice" property="deductPrice"/>
                    <result column="deductReason" property="deductReason"/>
                    <result column="repaymentReason" property="repaymentReason"/>
                    <result column="doctorName" property="doctorName"/>
                    <result column="deptCode" property="deptCode"/>
                    <result column="deptName" property="deptName"/>
                    <result column="costDate" property="costDate"/>
                    <result column="costDateStr" property="costDateStr"/>
                    <result column="hospitalizedNo" property="hospitalizedNo"/>
                    <result column="treatmentMode" property="treatmentMode"/>
                    <result column="settlementDate" property="settlementDate"/>
                    <result column="settlementDateStr" property="settlementDateStr"/>
                    <result column="personalNo" property="personalNo"/>
                    <result column="insuredName" property="insuredName"/>
                    <result column="cardNumber" property="cardNumber"/>
                    <result column="areaName" property="areaName"/>
                    <result column="insuredType" property="insuredType"/>
                    <result column="dataType" property="dataType"/>
                    <result column="orderNumber" property="orderNumber"/>
                    <result column="STATE" property="state"/>
                    <result column="seekState" property="seekState"/>
                    <result column="resetId" property="resetId"/>
                    <result column="applyDate" property="applyDate"/>
                    <result column="applyDateStr" property="applyDateStr"/>
                    <result column="currencyField" property="currencyField"/>
                    <result column="ar_doctorCode" property="arDoctorcode"/>
                    <result column="ar_doctorName" property="arDoctorname"/>
                    <result column="ar_deptCode" property="arDeptcode"/>
                    <result column="ar_deptName" property="arDeptname"/>
                    <result column="applyDataId" property="applyDataId"/>
                    <result column="resultId" property="resultId"/>
                    <result column="resetDate" property="resetDate"/>
                    <result column="resetPersonId" property="resetPersonId"/>
                    <result column="resetPersonName" property="resetPersonName"/>
            <result column="repayState" property="repayState"/>
            <result column="repaymentPrice" property="repaymentPrice"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, serialNo, billNo, projectCode, projectName, medicalPrice, ruleName, deductPrice, deductReason, repaymentReason, doctorName, deptCode, deptName, costDate, costDateStr, hospitalizedNo, treatmentMode, settlementDate, settlementDateStr, personalNo, insuredName, cardNumber, areaName, insuredType, dataType, orderNumber, STATE, seekState, resetId, applyDate, applyDateStr, currencyField, ar_doctorCode, ar_doctorName, ar_deptCode, ar_deptName, applyDataId, resultId, resetDate, resetPersonId, resetPersonName,repayState,repaymentPrice
    </sql>
    <update id="updateYbReconsiderResetResultView" parameterType="cc.mrbird.febs.yb.entity.YbReconsiderResetResultView">
        update yb_reconsider_reset_result_view
        <trim prefix="set" suffixOverrides=",">
<if test="id != null">id=#{id},</if>
<if test="serialNo != null">serialNo=#{serialNo},</if>
<if test="billNo != null">billNo=#{billNo},</if>
<if test="projectCode != null">projectCode=#{projectCode},</if>
<if test="projectName != null">projectName=#{projectName},</if>
<if test="medicalPrice != null">medicalPrice=#{medicalPrice},</if>
<if test="ruleName != null">ruleName=#{ruleName},</if>
<if test="deductPrice != null">deductPrice=#{deductPrice},</if>
<if test="deductReason != null">deductReason=#{deductReason},</if>
<if test="repaymentReason != null">repaymentReason=#{repaymentReason},</if>
<if test="doctorName != null">doctorName=#{doctorName},</if>
<if test="deptCode != null">deptCode=#{deptCode},</if>
<if test="deptName != null">deptName=#{deptName},</if>
<if test="costDate != null">costDate=#{costDate},</if>
<if test="costDateStr != null">costDateStr=#{costDateStr},</if>
<if test="hospitalizedNo != null">hospitalizedNo=#{hospitalizedNo},</if>
<if test="treatmentMode != null">treatmentMode=#{treatmentMode},</if>
<if test="settlementDate != null">settlementDate=#{settlementDate},</if>
<if test="settlementDateStr != null">settlementDateStr=#{settlementDateStr},</if>
<if test="personalNo != null">personalNo=#{personalNo},</if>
<if test="insuredName != null">insuredName=#{insuredName},</if>
<if test="cardNumber != null">cardNumber=#{cardNumber},</if>
<if test="areaName != null">areaName=#{areaName},</if>
<if test="insuredType != null">insuredType=#{insuredType},</if>
<if test="dataType != null">dataType=#{dataType},</if>
<if test="orderNumber != null">orderNumber=#{orderNumber},</if>
<if test="state != null">STATE=#{state},</if>
<if test="seekState != null">seekState=#{seekState},</if>
<if test="resetId != null">resetId=#{resetId},</if>
<if test="applyDate != null">applyDate=#{applyDate},</if>
<if test="applyDateStr != null">applyDateStr=#{applyDateStr},</if>
<if test="currencyField != null">currencyField=#{currencyField},</if>
<if test="arDoctorcode != null">ar_doctorCode=#{arDoctorcode},</if>
<if test="arDoctorname != null">ar_doctorName=#{arDoctorname},</if>
<if test="arDeptcode != null">ar_deptCode=#{arDeptcode},</if>
<if test="arDeptname != null">ar_deptName=#{arDeptname},</if>
<if test="applyDataId != null">applyDataId=#{applyDataId},</if>
<if test="resultId != null">resultId=#{resultId},</if>
<if test="resetDate != null">resetDate=#{resetDate},</if>
<if test="resetPersonId != null">resetPersonId=#{resetPersonId},</if>
<if test="resetPersonName != null">resetPersonName=#{resetPersonName},</if>
        </trim>

    </update>
    <select id="findYbReconsiderResetResultView" resultType="cc.mrbird.febs.yb.entity.YbReconsiderResetResultView" parameterType="cc.mrbird.febs.yb.entity.YbReconsiderResetResultView">
        select  *  from yb_reconsider_reset_result_view
        where  1=1
            <if test="ybReconsiderResetResultView.id != null and ybReconsiderResetResultView.id != ''"> and id like concat('%', #{ ybReconsiderResetResultView.id} ,'%')</if>
            <if test="ybReconsiderResetResultView.serialNo != null and ybReconsiderResetResultView.serialNo != ''"> and serialNo like concat('%', #{ ybReconsiderResetResultView.serialNo} ,'%')</if>
            <if test="ybReconsiderResetResultView.billNo != null and ybReconsiderResetResultView.billNo != ''"> and billNo like concat('%', #{ ybReconsiderResetResultView.billNo} ,'%')</if>
            <if test="ybReconsiderResetResultView.projectCode != null and ybReconsiderResetResultView.projectCode != ''"> and projectCode like concat('%', #{ ybReconsiderResetResultView.projectCode} ,'%')</if>
            <if test="ybReconsiderResetResultView.projectName != null and ybReconsiderResetResultView.projectName != ''"> and projectName like concat('%', #{ ybReconsiderResetResultView.projectName} ,'%')</if>
            <if test="ybReconsiderResetResultView.ruleName != null and ybReconsiderResetResultView.ruleName != ''"> and ruleName like concat('%', #{ ybReconsiderResetResultView.ruleName} ,'%')</if>
            <if test="ybReconsiderResetResultView.deductReason != null and ybReconsiderResetResultView.deductReason != ''"> and deductReason like concat('%', #{ ybReconsiderResetResultView.deductReason} ,'%')</if>
            <if test="ybReconsiderResetResultView.repaymentReason != null and ybReconsiderResetResultView.repaymentReason != ''"> and repaymentReason like concat('%', #{ ybReconsiderResetResultView.repaymentReason} ,'%')</if>
            <if test="ybReconsiderResetResultView.doctorName != null and ybReconsiderResetResultView.doctorName != ''"> and doctorName like concat('%', #{ ybReconsiderResetResultView.doctorName} ,'%')</if>
            <if test="ybReconsiderResetResultView.deptCode != null and ybReconsiderResetResultView.deptCode != ''"> and deptCode like concat('%', #{ ybReconsiderResetResultView.deptCode} ,'%')</if>
            <if test="ybReconsiderResetResultView.deptName != null and ybReconsiderResetResultView.deptName != ''"> and deptName like concat('%', #{ ybReconsiderResetResultView.deptName} ,'%')</if>
        <if test="ybReconsiderResetResultView.costDateFrom!= null">
            AND ybReconsiderResetResultView.costDate <![CDATA[ >= ]]>  costDateFrom}
        </if>
        <if test="ybReconsiderResetResultView.costDateTo!= null">
            AND ybReconsiderResetResultView.costDate <![CDATA[ <= ]]>  costDateTo}
        </if>
            <if test="ybReconsiderResetResultView.costDateStr != null and ybReconsiderResetResultView.costDateStr != ''"> and costDateStr like concat('%', #{ ybReconsiderResetResultView.costDateStr} ,'%')</if>
            <if test="ybReconsiderResetResultView.hospitalizedNo != null and ybReconsiderResetResultView.hospitalizedNo != ''"> and hospitalizedNo like concat('%', #{ ybReconsiderResetResultView.hospitalizedNo} ,'%')</if>
            <if test="ybReconsiderResetResultView.treatmentMode != null and ybReconsiderResetResultView.treatmentMode != ''"> and treatmentMode like concat('%', #{ ybReconsiderResetResultView.treatmentMode} ,'%')</if>
        <if test="ybReconsiderResetResultView.settlementDateFrom!= null">
            AND ybReconsiderResetResultView.settlementDate <![CDATA[ >= ]]>  settlementDateFrom}
        </if>
        <if test="ybReconsiderResetResultView.settlementDateTo!= null">
            AND ybReconsiderResetResultView.settlementDate <![CDATA[ <= ]]>  settlementDateTo}
        </if>
            <if test="ybReconsiderResetResultView.settlementDateStr != null and ybReconsiderResetResultView.settlementDateStr != ''"> and settlementDateStr like concat('%', #{ ybReconsiderResetResultView.settlementDateStr} ,'%')</if>
            <if test="ybReconsiderResetResultView.personalNo != null and ybReconsiderResetResultView.personalNo != ''"> and personalNo like concat('%', #{ ybReconsiderResetResultView.personalNo} ,'%')</if>
            <if test="ybReconsiderResetResultView.insuredName != null and ybReconsiderResetResultView.insuredName != ''"> and insuredName like concat('%', #{ ybReconsiderResetResultView.insuredName} ,'%')</if>
            <if test="ybReconsiderResetResultView.cardNumber != null and ybReconsiderResetResultView.cardNumber != ''"> and cardNumber like concat('%', #{ ybReconsiderResetResultView.cardNumber} ,'%')</if>
            <if test="ybReconsiderResetResultView.areaName != null and ybReconsiderResetResultView.areaName != ''"> and areaName like concat('%', #{ ybReconsiderResetResultView.areaName} ,'%')</if>
            <if test="ybReconsiderResetResultView.insuredType != null and ybReconsiderResetResultView.insuredType != ''"> and insuredType like concat('%', #{ ybReconsiderResetResultView.insuredType} ,'%')</if>
        <if test="ybReconsiderResetResultView.dataType != null"> and dataType =#{ ybReconsiderResetResultView.dataType} </if>
            <if test="ybReconsiderResetResultView.orderNumber != null and ybReconsiderResetResultView.orderNumber != ''"> and orderNumber like concat('%', #{ ybReconsiderResetResultView.orderNumber} ,'%')</if>
        <if test="ybReconsiderResetResultView.state != null"> and STATE =#{ ybReconsiderResetResultView.state} </if>
        <if test="ybReconsiderResetResultView.seekState != null"> and seekState =#{ ybReconsiderResetResultView.seekState} </if>
            <if test="ybReconsiderResetResultView.resetId != null and ybReconsiderResetResultView.resetId != ''"> and resetId like concat('%', #{ ybReconsiderResetResultView.resetId} ,'%')</if>
        <if test="ybReconsiderResetResultView.applyDateFrom!= null">
            AND ybReconsiderResetResultView.applyDate <![CDATA[ >= ]]>  applyDateFrom}
        </if>
        <if test="ybReconsiderResetResultView.applyDateTo!= null">
            AND ybReconsiderResetResultView.applyDate <![CDATA[ <= ]]>  applyDateTo}
        </if>
            <if test="ybReconsiderResetResultView.applyDateStr != null and ybReconsiderResetResultView.applyDateStr != ''"> and applyDateStr like concat('%', #{ ybReconsiderResetResultView.applyDateStr} ,'%')</if>
            <if test="ybReconsiderResetResultView.currencyField != null and ybReconsiderResetResultView.currencyField != ''"> and currencyField like concat('%', #{ ybReconsiderResetResultView.currencyField} ,'%')</if>
            <if test="ybReconsiderResetResultView.arDoctorcode != null and ybReconsiderResetResultView.arDoctorcode != ''"> and ar_doctorCode like concat('%', #{ ybReconsiderResetResultView.arDoctorcode} ,'%')</if>
            <if test="ybReconsiderResetResultView.arDoctorname != null and ybReconsiderResetResultView.arDoctorname != ''"> and ar_doctorName like concat('%', #{ ybReconsiderResetResultView.arDoctorname} ,'%')</if>
            <if test="ybReconsiderResetResultView.arDeptcode != null and ybReconsiderResetResultView.arDeptcode != ''"> and ar_deptCode like concat('%', #{ ybReconsiderResetResultView.arDeptcode} ,'%')</if>
            <if test="ybReconsiderResetResultView.arDeptname != null and ybReconsiderResetResultView.arDeptname != ''"> and ar_deptName like concat('%', #{ ybReconsiderResetResultView.arDeptname} ,'%')</if>
            <if test="ybReconsiderResetResultView.applyDataId != null and ybReconsiderResetResultView.applyDataId != ''"> and applyDataId like concat('%', #{ ybReconsiderResetResultView.applyDataId} ,'%')</if>
            <if test="ybReconsiderResetResultView.resultId != null and ybReconsiderResetResultView.resultId != ''"> and resultId like concat('%', #{ ybReconsiderResetResultView.resultId} ,'%')</if>
        <if test="ybReconsiderResetResultView.resetDateFrom!= null">
            AND ybReconsiderResetResultView.resetDate <![CDATA[ >= ]]>  resetDateFrom}
        </if>
        <if test="ybReconsiderResetResultView.resetDateTo!= null">
            AND ybReconsiderResetResultView.resetDate <![CDATA[ <= ]]>  resetDateTo}
        </if>
            <if test="ybReconsiderResetResultView.resetPersonName != null and ybReconsiderResetResultView.resetPersonName != ''"> and resetPersonName like concat('%', #{ ybReconsiderResetResultView.resetPersonName} ,'%')</if>
</select>

</mapper>