<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.yb.dao.YbReconsiderVerifyViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        <result column="pid" property="pid"/>
        <result column="serialNo" property="serialNo"/>
        <result column="billNo" property="billNo"/>
        <result column="proposalCode" property="proposalCode"/>
        <result column="projectCode" property="projectCode"/>
        <result column="projectName" property="projectName"/>
        <result column="num" property="num"/>
        <result column="medicalPrice" property="medicalPrice"/>
        <result column="ruleName" property="ruleName"/>
        <result column="deductPrice" property="deductPrice"/>
        <result column="deductReason" property="deductReason"/>
        <result column="repaymentReason" property="repaymentReason"/>
        <result column="doctorName" property="doctorName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptName" property="deptName"/>
        <result column="enterHospitalDateStr" property="enterHospitalDateStr"/>
        <result column="outHospitalDateStr" property="outHospitalDateStr"/>
        <result column="costDateStr" property="costDateStr"/>
        <result column="hospitalizedNo" property="hospitalizedNo"/>
        <result column="treatmentMode" property="treatmentMode"/>
        <result column="settlementDateStr" property="settlementDateStr"/>
        <result column="personalNo" property="personalNo"/>
        <result column="insuredName" property="insuredName"/>
        <result column="cardNumber" property="cardNumber"/>
        <result column="areaName" property="areaName"/>
        <result column="versionNumber" property="versionNumber"/>
        <result column="backAppeal" property="backAppeal"/>
        <result column="typeno" property="typeno"/>
        <result column="sendPersonId" property="sendPersonId"/>
        <result column="sendPersonName" property="sendPersonName"/>
        <result column="sendDate" property="sendDate"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="id" property="id"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="verifyDoctorCode" property="verifyDoctorCode"/>
        <result column="verifyDoctorName" property="verifyDoctorName"/>
        <result column="verifyDeptCode" property="verifyDeptCode"/>
        <result column="verifyDeptName" property="verifyDeptName"/>
        <result column="insuredType" property="insuredType"/>
        <result column="dataType" property="dataType"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="isVerify" property="isVerify"/>
        <result column="isPerson" property="isPerson"/>
        <result column="orderDoctorCode" property="orderDoctorCode"/>
        <result column="orderDoctorName" property="orderDoctorName"/>
        <result column="orderDeptCode" property="orderDeptCode"/>
        <result column="orderDeptName" property="orderDeptName"/>
        <result column="STATE" property="state"/>
        <result column="areaType" property="areaType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, serialNo, billNo, proposalCode, projectCode, projectName, num, medicalPrice, ruleName, deductPrice, deductReason, repaymentReason, doctorName, deptCode, deptName,enterHospitalDateStr,outHospitalDateStr,costDateStr, hospitalizedNo, treatmentMode, settlementDateStr, personalNo, insuredName, cardNumber, areaName, versionNumber, backAppeal, typeno, sendPersonId, sendPersonName, sendDate, applyDateStr, id, applyDataId, verifyDoctorCode, verifyDoctorName, verifyDeptCode, verifyDeptName, insuredType,dataType,orderNumber,orderNum,isVerify,isPerson,orderDoctorCode,orderDoctorName,orderDeptCode,orderDeptName, STATE, areaType
    </sql>
    <update id="updateYbReconsiderVerifyView" parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        update yb_reconsider_verify_view
        <trim prefix="set" suffixOverrides=",">
            <if test="serialNo != null">serialNo=#{serialNo},</if>
        </trim>

    </update>
    <select id="findYbReconsiderVerifyView" resultType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select * from yb_reconsider_verify_view
        where 1=1
        <if test="ybReconsiderVerifyView.pid != null and ybReconsiderVerifyView.pid != ''">and pid =
            #{ ybReconsiderVerifyView.pid}
        </if>
        <if test="ybReconsiderVerifyView.serialNo != null and ybReconsiderVerifyView.serialNo != ''">and serialNo like
            concat('%', #{ ybReconsiderVerifyView.serialNo} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.billNo != null and ybReconsiderVerifyView.billNo != ''">and billNo like
            concat('%', #{ ybReconsiderVerifyView.billNo} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.proposalCode != null and ybReconsiderVerifyView.proposalCode != ''">and
            proposalCode like concat('%', #{ ybReconsiderVerifyView.proposalCode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.projectCode != null and ybReconsiderVerifyView.projectCode != ''">and
            projectCode like concat('%', #{ ybReconsiderVerifyView.projectCode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">and
            projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">and ruleName like
            concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.deductReason != null and ybReconsiderVerifyView.deductReason != ''">and
            deductReason like concat('%', #{ ybReconsiderVerifyView.deductReason} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.repaymentReason != null and ybReconsiderVerifyView.repaymentReason != ''">and
            repaymentReason like concat('%', #{ ybReconsiderVerifyView.repaymentReason} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.doctorName != null and ybReconsiderVerifyView.doctorName != ''">and doctorName
            like concat('%', #{ ybReconsiderVerifyView.doctorName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.deptCode != null and ybReconsiderVerifyView.deptCode != ''">and deptCode like
            concat('%', #{ ybReconsiderVerifyView.deptCode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.deptName != null and ybReconsiderVerifyView.deptName != ''">and deptName like
            concat('%', #{ ybReconsiderVerifyView.deptName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.hospitalizedNo != null and ybReconsiderVerifyView.hospitalizedNo != ''">and
            hospitalizedNo like concat('%', #{ ybReconsiderVerifyView.hospitalizedNo} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.treatmentMode != null and ybReconsiderVerifyView.treatmentMode != ''">and
            treatmentMode like concat('%', #{ ybReconsiderVerifyView.treatmentMode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.personalNo != null and ybReconsiderVerifyView.personalNo != ''">and personalNo
            like concat('%', #{ ybReconsiderVerifyView.personalNo} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.insuredName != null and ybReconsiderVerifyView.insuredName != ''">and
            insuredName like concat('%', #{ ybReconsiderVerifyView.insuredName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.cardNumber != null and ybReconsiderVerifyView.cardNumber != ''">and cardNumber
            like concat('%', #{ ybReconsiderVerifyView.cardNumber} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.areaName != null and ybReconsiderVerifyView.areaName != ''">and areaName like
            concat('%', #{ ybReconsiderVerifyView.areaName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.versionNumber != null and ybReconsiderVerifyView.versionNumber != ''">and
            versionNumber like concat('%', #{ ybReconsiderVerifyView.versionNumber} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.backAppeal != null and ybReconsiderVerifyView.backAppeal != ''">and backAppeal
            like concat('%', #{ ybReconsiderVerifyView.backAppeal} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.typeno != null">and typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.isVerify != null">and isVerify =#{ ybReconsiderVerifyView.isVerify}</if>
        <if test="ybReconsiderVerifyView.isPerson != null">and isPerson =#{ ybReconsiderVerifyView.isPerson}</if>
        <if test="ybReconsiderVerifyView.applyDateStr != null and ybReconsiderVerifyView.applyDateStr != ''">and
            applyDateStr like concat('%', #{ ybReconsiderVerifyView.applyDateStr} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.applyDataId != null">and applyDataId =#{ ybReconsiderVerifyView.applyDataId}
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorCode != null and ybReconsiderVerifyView.verifyDoctorCode != ''">and
            verifyDoctorCode like concat('%', #{ ybReconsiderVerifyView.verifyDoctorCode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorName != null and ybReconsiderVerifyView.verifyDoctorName != ''">and
            verifyDoctorName like concat('%', #{ ybReconsiderVerifyView.verifyDoctorName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.verifyDeptCode != null and ybReconsiderVerifyView.verifyDeptCode != ''">and
            verifyDeptCode like concat('%', #{ ybReconsiderVerifyView.verifyDeptCode} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">and
            verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="ybReconsiderVerifyView.state != null">and STATE =#{ ybReconsiderVerifyView.state}</if>
    </select>

    <select id="findReconsiderVerifyViewNull" resultType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        ad.typeno,
        ad.insuredType,
        ad.dataType,
        ad.orderNumber,
        ad.orderNum,
        #{ ybReconsiderVerifyView.applyDateStr} applyDateStr,
        case when rv.id is null then UUID() else rv.id end id,
        ad.id applyDataId,
        rv.verifyDoctorCode,
        concat(rv.verifyDoctorCode,'-',rv.verifyDoctorName) verifyDoctorName,
        rv.verifyDeptCode,
        concat(rv.verifyDeptCode,'-',rv.verifyDeptName) verifyDeptName,
        rv.STATE,
        case when rv.id is null then '' else rv.orderDoctorCode end orderDoctorCode,
        case when rv.id is null then '' else rv.orderDoctorName end orderDoctorName,
        case when rv.id is null then '' else rv.orderDeptCode end orderDeptCode,
        case when rv.id is null then '' else rv.orderDeptName end orderDeptName,
        case when rv.id is null then 0 else 1 end isVerify,
        case when yp.id is null then 0 else 1 end isPerson,
        rv.sendPersonId,
        rv.sendPersonName,
        rv.sendDate,
        rv.areaType
        from
        yb_reconsider_apply_data ad
        LEFT JOIN yb_reconsider_verify rv ON
        ad.id = rv.applyDataId and
        rv.applyDateStr=#{ ybReconsiderVerifyView.applyDateStr} and
        rv.areaType = #{ ybReconsiderVerifyView.areaType}
        <if test="ybReconsiderVerifyView.typeno != null">and rv.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and rv.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        LEFT join yb_person yp on
        rv.verifyDoctorCode = yp.personCode
        where
        (
        ad.pid = #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.typeno != null">and ad.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and ad.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.isVerify == null ">and rv.id is null</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify != 0">
            and 1=2
        </if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify == 0">
            and rv.id is null
        </if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        )
        or (
        ad.pid = #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.typeno != null">and ad.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and ad.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.isVerify == null ">and rv.id is not null</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify != 1">and 1=2</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify == 1">
            and rv.id is not null
        </if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        )

    </select>

    <select id="findReconsiderVerifyCountNull" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        count(1)
        from
        yb_reconsider_apply_data ad
        LEFT JOIN yb_reconsider_verify rv ON
        ad.id = rv.applyDataId
        where
        (
        ad.pid = #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.typeno != null">and ad.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and ad.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.isVerify == null ">and rv.id is null</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify != 0">and 1=2</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify == 0">and rv.id is null
        </if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        )
        or (
        ad.pid = #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.typeno != null">and ad.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and ad.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.isVerify == null ">and rv.id is not null</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify != 1">and 1=2</if>
        <if test="ybReconsiderVerifyView.isVerify != null and ybReconsiderVerifyView.isVerify == 1">and rv.id is not
            null
        </if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        )

    </select>

    <select id="findReconsiderVerifyView" resultType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        ad.typeno,
        ad.insuredType,
        ad.dataType,
        ad.orderNumber,
        ad.orderNum,
        rv.applyDateStr,
        case when rv.id is null then UUID() else rv.id end id,
        ad.id applyDataId,
        rv.verifyDoctorCode,
        concat(rv.verifyDoctorCode,'-',rv.verifyDoctorName) verifyDoctorName,
        rv.verifyDeptCode,
        concat(rv.verifyDeptCode,'-',rv.verifyDeptName) verifyDeptName,
        rv.STATE,
        case when rv.id is null then '' else rv.orderDoctorCode end orderDoctorCode,
        case when rv.id is null then '' else rv.orderDoctorName end orderDoctorName,
        case when rv.id is null then '' else rv.orderDeptCode end orderDeptCode,
        case when rv.id is null then '' else rv.orderDeptName end orderDeptName,
        case when rv.id is null then 0 else 1 end isVerify,
        case when yp.id is null then 0 else 1 end isPerson,
        rv.sendPersonId,
        rv.sendPersonName,
        rv.sendDate,
        rv.areaType
        from
        yb_reconsider_verify rv
        INNER JOIN yb_reconsider_apply_data ad ON
            ad.id = rv.applyDataId and
            ad.pid =  #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="ybReconsiderVerifyView.serialNo != null and ybReconsiderVerifyView.serialNo != ''">
            and ad.serialNo = #{ ybReconsiderVerifyView.serialNo}
        </if>
        <if test="ybReconsiderVerifyView.projectCode != null and ybReconsiderVerifyView.projectCode != ''">
            and ad.projectCode = #{ ybReconsiderVerifyView.projectCode}
        </if>
        <if test="ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        LEFT join yb_person yp on
            rv.verifyDoctorCode = yp.personCode
        where
            rv.applyDateStr = #{ ybReconsiderVerifyView.applyDateStr}
        <if test="ybReconsiderVerifyView.areaType != null">and rv.areaType = #{ ybReconsiderVerifyView.areaType}</if>
        <if test="ybReconsiderVerifyView.typeno != null">and rv.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and rv.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorCode != null and ybReconsiderVerifyView.verifyDoctorCode != ''">
            and rv.verifyDoctorCode = #{ ybReconsiderVerifyView.verifyDoctorCode}
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorName != null and ybReconsiderVerifyView.verifyDoctorName != ''">
            and rv.verifyDoctorName = #{ ybReconsiderVerifyView.verifyDoctorName}
        </if>
        <if test="ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="ybReconsiderVerifyView.state != null and ybReconsiderVerifyView.state==3">
            order by rv.typeno,rv.dataType,rv.orderNum
        </if>
        <if test="ybReconsiderVerifyView.state != null and (ybReconsiderVerifyView.state==1 or ybReconsiderVerifyView.state==2)">
            order by rv.orderNum
        </if>
    </select>

    <select id="findReconsiderVerifyCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        count(1)
        from
        yb_reconsider_verify rv
        inner JOIN yb_reconsider_apply_data ad ON
        ad.id = rv.applyDataId and
        ad.pid =  #{ ybReconsiderVerifyView.pid}
        <if test="ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and ad.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="ybReconsiderVerifyView.serialNo != null and ybReconsiderVerifyView.serialNo != ''">
            and ad.serialNo = #{ ybReconsiderVerifyView.serialNo}
        </if>
        <if test="ybReconsiderVerifyView.projectCode != null and ybReconsiderVerifyView.projectCode != ''">
            and ad.projectCode = #{ ybReconsiderVerifyView.projectCode}
        </if>
        <if test="ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        where
        rv.applyDateStr = #{ ybReconsiderVerifyView.applyDateStr}
        <if test="ybReconsiderVerifyView.areaType != null">and rv.areaType = #{ ybReconsiderVerifyView.areaType}</if>
        <if test="ybReconsiderVerifyView.typeno != null">and rv.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and rv.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorCode != null and ybReconsiderVerifyView.verifyDoctorCode != ''">
            and rv.verifyDoctorCode = #{ ybReconsiderVerifyView.verifyDoctorCode}
        </if>
        <if test="ybReconsiderVerifyView.verifyDoctorName != null and ybReconsiderVerifyView.verifyDoctorName != ''">
            and rv.verifyDoctorName = #{ ybReconsiderVerifyView.verifyDoctorName}
        </if>
        <if test="ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
    </select>

    <!--
    <select id="findReconsiderVerifyView" resultType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        ad.pid,
        ad.serialNo,
        ad.billNo,
        ad.proposalCode,
        ad.projectCode,
        ad.projectName,
        ad.num,
        ad.medicalPrice,
        ad.ruleName,
        ad.deductPrice,
        ad.deductReason,
        ad.repaymentReason,
        ad.doctorName,
        ad.deptCode,
        ad.deptName,
        ad.enterHospitalDateStr,
        ad.outHospitalDateStr,
        ad.costDateStr,
        ad.hospitalizedNo,
        ad.treatmentMode,
        ad.settlementDateStr,
        ad.personalNo,
        ad.insuredName,
        ad.cardNumber,
        ad.areaName,
        ad.versionNumber,
        ad.backAppeal,
        ad.typeno,
        ad.insuredType,
        ad.dataType,
        ad.orderNumber,
        ad.orderNum,
        rv.applyDateStr,
        case when rv.id is null then UUID() else rv.id end id,
        ad.id applyDataId,
        rv.verifyDoctorCode,
        concat(rv.verifyDoctorCode,'-',rv.verifyDoctorName) verifyDoctorName,
        rv.verifyDeptCode,
        concat(rv.verifyDeptCode,'-',rv.verifyDeptName) verifyDeptName,
        rv.STATE,
        case when rv.id is null then '' else rv.orderDoctorCode end orderDoctorCode,
        case when rv.id is null then '' else rv.orderDoctorName end orderDoctorName,
        case when rv.id is null then '' else rv.orderDeptCode end orderDeptCode,
        case when rv.id is null then '' else rv.orderDeptName end orderDeptName,
        case when rv.id is null then 0 else 1 end isVerify,
        case when yp.id is null then 0 else 1 end isPerson,
        rv.sendPersonId,
        rv.sendPersonName,
        rv.sendDate,
        rv.areaType
        from
        yb_reconsider_verify rv
        STRAIGHT_JOIN yb_reconsider_apply_data ad ON
        ad.id = rv.applyDataId and
        ad.pid =  #{ ybReconsiderVerifyView.pid}
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        LEFT join yb_person yp on
        rv.verifyDoctorCode = yp.personCode
        where
        rv.applyDateStr = #{ ybReconsiderVerifyView.applyDateStr}
        <if test="ybReconsiderVerifyView.areaType != null">
            and rv.areaType = #{ ybReconsiderVerifyView.areaType}
        </if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.typeno != null">and rv.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and rv.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
    </select>
    <select id="findReconsiderVerifyCount" resultType="Integer"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
        count(1)
        from
        yb_reconsider_verify rv
        inner JOIN yb_reconsider_apply_data ad ON
        ad.id = rv.applyDataId and
        ad.pid =  #{ ybReconsiderVerifyView.pid}
        <if test="searchType[0] == 'LIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[0] == 'EQ' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName = #{ ybReconsiderVerifyView.projectName}
        </if>
        <if test="searchType[0] == 'NOTLIKE' and ybReconsiderVerifyView.projectName != null and ybReconsiderVerifyView.projectName != ''">
            and ad.projectName not like concat('%', #{ ybReconsiderVerifyView.projectName} ,'%')
        </if>
        <if test="searchType[1] == 'LIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        <if test="searchType[1] == 'EQ' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName = #{ ybReconsiderVerifyView.ruleName}
        </if>
        <if test="searchType[1] == 'NOTLIKE' and ybReconsiderVerifyView.ruleName != null and ybReconsiderVerifyView.ruleName != ''">
            and ad.ruleName not like concat('%', #{ ybReconsiderVerifyView.ruleName} ,'%')
        </if>
        where
        rv.applyDateStr = #{ ybReconsiderVerifyView.applyDateStr}
        <if test="ybReconsiderVerifyView.areaType != null">
            and rv.areaType = #{ ybReconsiderVerifyView.areaType}
        </if>
        <if test="ybReconsiderVerifyView.state != null">and rv.state =#{ ybReconsiderVerifyView.state}</if>
        <if test="ybReconsiderVerifyView.typeno != null">and rv.typeno =#{ ybReconsiderVerifyView.typeno}</if>
        <if test="ybReconsiderVerifyView.dataType != null">and rv.dataType =#{ ybReconsiderVerifyView.dataType}</if>
        <if test="searchType[2] == 'LIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[2] == 'EQ' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName = #{ ybReconsiderVerifyView.verifyDeptName}
        </if>
        <if test="searchType[2] == 'NOTLIKE' and ybReconsiderVerifyView.verifyDeptName != null and ybReconsiderVerifyView.verifyDeptName != ''">
            and rv.verifyDeptName not like concat('%', #{ ybReconsiderVerifyView.verifyDeptName} ,'%')
        </if>
        <if test="searchType[3] == 'LIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
        <if test="searchType[3] == 'EQ' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber = #{ ybReconsiderVerifyView.orderNumber}
        </if>
        <if test="searchType[3] == 'NOTLIKE' and ybReconsiderVerifyView.orderNumber != null and ybReconsiderVerifyView.orderNumber != ''">
            and rv.orderNumber not like concat('%', #{ ybReconsiderVerifyView.orderNumber} ,'%')
        </if>
    </select>
    -->
    <select id="findReconsiderVerifyViewList" resultType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView"
            parameterType="cc.mrbird.febs.yb.entity.YbReconsiderVerifyView">
        select
            ad.serialNo,
            ad.billNo,
            ad.proposalCode,
            ad.projectCode,
            ad.projectName,
            ad.num,
            ad.medicalPrice,
            ad.ruleName,
            ad.deductPrice,
            ad.deductReason,
            ad.repaymentReason,
            ad.doctorName,
            ad.deptCode,
            ad.deptName,
            ad.enterHospitalDateStr,
            ad.outHospitalDateStr,
            ad.costDateStr,
            ad.hospitalizedNo,
            ad.treatmentMode,
            ad.settlementDateStr,
            ad.personalNo,
            ad.insuredName,
            ad.cardNumber,
            ad.areaName,
            ad.versionNumber,
            ad.backAppeal,
            ad.typeno,
            ad.insuredType,
            ad.dataType,
            ad.orderNumber,
            ad.orderNum,
            #{ ybReconsiderVerifyView.applyDateStr} applyDateStr,
            case when rv.id is null then UUID() else rv.id end id,
            ad.id applyDataId,
            rv.verifyDoctorCode,
            rv.verifyDoctorName,
            rv.verifyDeptCode,
            rv.verifyDeptName,
            rv.STATE,
            case when rv.id is null then '' else rv.orderDoctorCode end orderDoctorCode,
            case when rv.id is null then '' else rv.orderDoctorName end orderDoctorName,
            case when rv.id is null then '' else rv.orderDeptCode end orderDeptCode,
            case when rv.id is null then '' else rv.orderDeptName end orderDeptName,
            case when rv.id is null then 0 else 1 end isVerify,
            null isPerson,
            rv.sendPersonId,
            rv.sendPersonName,
            rv.sendDate,
            rv.areaType
        from
            yb_reconsider_apply_data ad
            LEFT JOIN yb_reconsider_verify rv ON
                ad.id = rv.applyDataId
        where
            ad.pid = #{ybReconsiderVerifyView.pid} and
            ad.typeno =  #{ybReconsiderVerifyView.typeno} and
            ad.dataType = #{ybReconsiderVerifyView.dataType} and
            rv.state = #{ybReconsiderVerifyView.state}
    </select>


<!--    and-->
<!--    rv.applyDateStr=#{ ybReconsiderVerifyView.applyDateStr} and-->
<!--    rv.areaType=#{ ybReconsiderVerifyView.areaType} and-->
<!--    rv.typeno =  #{ybReconsiderVerifyView.typeno} and-->
<!--    rv.dataType = #{ybReconsiderVerifyView.dataType}-->
<!--    (-->
<!--    (rv.id is not null and rv.state = #{ybReconsiderVerifyView.state}) or rv.id is null-->
<!--    )-->
    <select id="findReconsiderVerifyApplyDateCount" resultType="Integer">
    select
        count(1)
    from
        yb_reconsider_verify
    WHERE
        applyDateStr= #{ybReconsiderVerifyView.applyDateStr} and
        areaType = #{ ybReconsiderVerifyView.areaType} and
        typeno = #{ybReconsiderVerifyView.typeno} and
        dataType = #{ybReconsiderVerifyView.dataType}
</select>
</mapper>