<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.drg.dao.YbDrgJkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.drg.entity.YbDrgJk">
        <id column="id" property="id"/>
        <result column="applyDateStr" property="applyDateStr"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="orderNum" property="orderNum"/>
        <result column="applyDataId" property="applyDataId"/>
        <result column="areaType" property="areaType"/>
        <result column="tczf" property="tczf"/>
        <result column="ryDate" property="ryDate"/>
        <result column="cyDate" property="cyDate"/>
        <result column="fzCode" property="fzCode"/>
        <result column="fzName" property="fzName"/>
        <result column="zyzdCode" property="zyzdCode"/>
        <result column="zyzdName" property="zyzdName"/>
        <result column="zssCode" property="zssCode"/>
        <result column="zssName" property="zssName"/>
        <result column="qtzdCode" property="qtzdCode"/>
        <result column="qtzdName" property="qtzdName"/>
        <result column="qtssCode" property="qtssCode"/>
        <result column="qtssName" property="qtssName"/>
        <result column="deptName" property="deptName"/>
        <result column="areaId" property="areaId"/>
        <result column="areaName" property="areaName"/>
        <result column="qz" property="qz"/>
        <result column="kzrDocId" property="kzrDocId"/>
        <result column="kzrDocName" property="kzrDocName"/>
        <result column="zrysDocId" property="zrysDocId"/>
        <result column="zrysDocName" property="zrysDocName"/>
        <result column="zzysDocId" property="zzysDocId"/>
        <result column="zzysDocName" property="zzysDocName"/>
        <result column="zyysDocId" property="zyysDocId"/>
        <result column="zyysDocName" property="zyysDocName"/>
        <result column="ylzDeptName" property="ylzDeptName"/>
        <result column="ylzDocId" property="ylzDocId"/>
        <result column="ylzDocName" property="ylzDocName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, applyDateStr, orderNumber, orderNum, applyDataId, areaType, tczf, ryDate, cyDate, fzCode, fzName, zyzdCode, zyzdName, zssCode, zssName, qtzdCode, qtzdName, qtssCode, qtssName, deptName, areaId, areaName, qz, kzrDocId, kzrDocName, zrysDocId, zrysDocName, zzysDocId, zzysDocName, zyysDocId, zyysDocName, ylzDeptName, ylzDocId, ylzDocName
    </sql>
    <update id="updateYbDrgJk" parameterType="cc.mrbird.febs.drg.entity.YbDrgJk">
        update yb_drg_jk
        <trim prefix="set" suffixOverrides=",">
            <if test="applyDateStr != null">applyDateStr=#{applyDateStr},</if>
            <if test="orderNumber != null">orderNumber=#{orderNumber},</if>
            <if test="orderNum != null">orderNum=#{orderNum},</if>
            <if test="applyDataId != null">applyDataId=#{applyDataId},</if>
            <if test="areaType != null">areaType=#{areaType},</if>
            <if test="ryDate != null">ryDate=#{ryDate},</if>
            <if test="cyDate != null">cyDate=#{cyDate},</if>
            <if test="fzCode != null">fzCode=#{fzCode},</if>
            <if test="fzName != null">fzName=#{fzName},</if>
            <if test="zyzdCode != null">zyzdCode=#{zyzdCode},</if>
            <if test="zyzdName != null">zyzdName=#{zyzdName},</if>
            <if test="zssCode != null">zssCode=#{zssCode},</if>
            <if test="zssName != null">zssName=#{zssName},</if>
            <if test="qtzdCode != null">qtzdCode=#{qtzdCode},</if>
            <if test="qtzdName != null">qtzdName=#{qtzdName},</if>
            <if test="qtssCode != null">qtssCode=#{qtssCode},</if>
            <if test="qtssName != null">qtssName=#{qtssName},</if>
            <if test="deptName != null">deptName=#{deptName},</if>
            <if test="areaId != null">areaId=#{areaId},</if>
            <if test="areaName != null">areaName=#{areaName},</if>
            <if test="qz != null">qz=#{qz},</if>
            <if test="kzrDocId != null">kzrDocId=#{kzrDocId},</if>
            <if test="kzrDocName != null">kzrDocName=#{kzrDocName},</if>
            <if test="zrysDocId != null">zrysDocId=#{zrysDocId},</if>
            <if test="zrysDocName != null">zrysDocName=#{zrysDocName},</if>
            <if test="zzysDocId != null">zzysDocId=#{zzysDocId},</if>
            <if test="zzysDocName != null">zzysDocName=#{zzysDocName},</if>
            <if test="zyysDocId != null">zyysDocId=#{zyysDocId},</if>
            <if test="zyysDocName != null">zyysDocName=#{zyysDocName},</if>
        </trim>
        where id=#{id}

    </update>
    <select id="findYbDrgJk" resultType="cc.mrbird.febs.drg.entity.YbDrgJk"
            parameterType="cc.mrbird.febs.drg.entity.YbDrgJk">
        select * from yb_drg_jk
        where applyDateStr = #{ ybDrgJk.applyDateStr} and areaType =#{ ybDrgJk.areaType}
        <if test="ybDrgJk.applyDataId != null and ybDrgJk.applyDataId != ''">and applyDataId =#{ ybDrgJk.applyDataId} </if>
        <if test="ybDrgJk.ryDateFrom!= null">
            AND ybDrgJk.ryDate <![CDATA[ >= ]]>  ryDateFrom}
        </if>
        <if test="ybDrgJk.ryDateTo!= null">
            AND ybDrgJk.ryDate <![CDATA[ <= ]]>  ryDateTo}
        </if>
        <if test="ybDrgJk.cyDateFrom!= null">
            AND ybDrgJk.cyDate <![CDATA[ >= ]]>  cyDateFrom}
        </if>
        <if test="ybDrgJk.cyDateTo!= null">
            AND ybDrgJk.cyDate <![CDATA[ <= ]]>  cyDateTo}
        </if>
        <if test="ybDrgJk.fzCode != null and ybDrgJk.fzCode != ''">and fzCode like concat('%', #{ ybDrgJk.fzCode} ,'%')</if>
        <if test="ybDrgJk.fzName != null and ybDrgJk.fzName != ''">and fzName like concat('%', #{ ybDrgJk.fzName} ,'%')</if>
        <if test="ybDrgJk.zyzdCode != null and ybDrgJk.zyzdCode != ''">and zyzdCode like concat('%', #{ ybDrgJk.zyzdCode}
            ,'%')
        </if>
        <if test="ybDrgJk.zyzdName != null and ybDrgJk.zyzdName != ''">and zyzdName like concat('%', #{ ybDrgJk.zyzdName}
            ,'%')
        </if>
        <if test="ybDrgJk.zssCode != null and ybDrgJk.zssCode != ''">and zssCode like concat('%', #{ ybDrgJk.zssCode} ,'%')</if>
        <if test="ybDrgJk.zssName != null and ybDrgJk.zssName != ''">and zssName like concat('%', #{ ybDrgJk.zssName} ,'%')</if>
        <if test="ybDrgJk.qtzdCode != null and ybDrgJk.qtzdCode != ''">and qtzdCode like concat('%', #{ ybDrgJk.qtzdCode}
            ,'%')
        </if>
        <if test="ybDrgJk.qtzdName != null and ybDrgJk.qtzdName != ''">and qtzdName like concat('%', #{ ybDrgJk.qtzdName}
            ,'%')
        </if>
        <if test="ybDrgJk.qtssCode != null and ybDrgJk.qtssCode != ''">and qtssCode like concat('%', #{ ybDrgJk.qtssCode}
            ,'%')
        </if>
        <if test="ybDrgJk.qtssName != null and ybDrgJk.qtssName != ''">and qtssName like concat('%', #{ ybDrgJk.qtssName}
            ,'%')
        </if>
        <if test="ybDrgJk.deptName != null and ybDrgJk.deptName != ''">and deptName like concat('%', #{ ybDrgJk.deptName} ,'%')</if>
        <if test="ybDrgJk.areaId != null and ybDrgJk.areaId != ''">and areaId like concat('%', #{ ybDrgJk.areaId} ,'%')</if>
        <if test="ybDrgJk.areaName != null and ybDrgJk.areaName != ''">and areaName like concat('%', #{ ybDrgJk.areaName} ,'%')</if>
        <if test="ybDrgJk.kzrDocId != null and ybDrgJk.kzrDocId != ''">and kzrDocId like concat('%', #{ ybDrgJk.kzrDocId} ,'%')</if>
        <if test="ybDrgJk.kzrDocName != null and ybDrgJk.kzrDocName != ''">and kzrDocName like concat('%', #{ ybDrgJk.kzrDocName} ,'%')</if>
        <if test="ybDrgJk.zrysDocId != null and ybDrgJk.zrysDocId != ''">and zrysDocId like concat('%', #{ ybDrgJk.zrysDocId}
            ,'%')
        </if>
        <if test="ybDrgJk.zrysDocName != null and ybDrgJk.zrysDocName != ''">and zrysDocName like concat('%', #{ ybDrgJk.zrysDocName}
            ,'%')
        </if>
        <if test="ybDrgJk.zzysDocId != null and ybDrgJk.zzysDocId != ''">and zzysDocId like concat('%', #{ ybDrgJk.zzysDocId}
            ,'%')
        </if>
        <if test="ybDrgJk.zzysDocName != null and ybDrgJk.zzysDocName != ''">and zzysDocName like concat('%', #{ ybDrgJk.zzysDocName}
            ,'%')
        </if>
        <if test="ybDrgJk.zyysDocId != null and ybDrgJk.zyysDocId != ''">and zyysDocId like concat('%', #{ ybDrgJk.zyysDocId}
            ,'%')
        </if>
        <if test="ybDrgJk.zyysDocName != null and ybDrgJk.zyysDocName != ''">and zyysDocName like concat('%', #{ ybDrgJk.zyysDocName}
            ,'%')
        </if>
    </select>
    <select id="findDrgJkApplyDataByPid" resultType="cc.mrbird.febs.drg.entity.YbDrgJk"
            parameterType="cc.mrbird.febs.drg.entity.YbDrgJk">
    SELECT
        jk.*
    FROM
        yb_drg_jk jk
        inner join yb_drg_apply_data dad on
            jk.applyDataId = dad.id
    where
        dad.pid = #{pid}
    </select>
</mapper>