<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chs.dao.YbChsConfireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.chs.entity.YbChsConfire">
        <id column="id" property="id"/>
        <result column="doctorCode" property="doctorCode"/>
        <result column="doctorName" property="doctorName"/>
        <result column="adminType" property="adminType"/>
        <result column="currencyField" property="currencyField"/>
        <result column="COMMENTS" property="comments"/>
        <result column="STATE" property="state"/>
        <result column="IS_DELETEMARK" property="isDeletemark"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
        <result column="areaType" property="areaType"/>
        <result column="operatorId" property="operatorId"/>
        <result column="operatorName" property="operatorName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doctorCode, doctorName, adminType, currencyField, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID, areaType, operatorId, operatorName
    </sql>
    <update id="updateYbChsConfire" parameterType="cc.mrbird.febs.chs.entity.YbChsConfire">
        update yb_chs_confire
        <trim prefix="set" suffixOverrides=",">
            <if test="doctorCode != null">doctorCode=#{doctorCode},</if>
            <if test="doctorName != null">doctorName=#{doctorName},</if>
            <if test="adminType != null">adminType=#{adminType},</if>
            <if test="currencyField != null">currencyField=#{currencyField},</if>
            <if test="comments != null">COMMENTS=#{comments},</if>
            <if test="state != null">STATE=#{state},</if>
            <if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
            <if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
            <if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
            <if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
            <if test="areaType != null">areaType=#{areaType},</if>
            <if test="operatorId != null">operatorId=#{operatorId},</if>
            <if test="operatorName != null">operatorName=#{operatorName},</if>
        </trim>
        where id=#{id}

    </update>

    <select id="findYbChsConfire" resultType="cc.mrbird.febs.chs.entity.YbChsConfire"
            parameterType="cc.mrbird.febs.chs.entity.YbChsConfire">
        select * from yb_chs_confire
        where 1=1
        <if test="ybChsConfire.id != null and ybChsConfire.id != ''">and id =#{ ybChsConfire.id}</if>
        <if test="ybChsConfire.doctorCode != null and ybChsConfire.doctorCode != ''">and doctorCode like concat('%',
            #{ ybChsConfire.doctorCode} ,'%')
        </if>
        <if test="ybChsConfire.doctorName != null and ybChsConfire.doctorName != ''">and doctorName like concat('%',
            #{ ybChsConfire.doctorName} ,'%')
        </if>
        <if test="ybChsConfire.adminType != null">and adminType =#{ ybChsConfire.adminType}</if>
        <if test="ybChsConfire.currencyField != null and ybChsConfire.currencyField != ''">and currencyField like
            concat('%', #{ ybChsConfire.currencyField} ,'%')
        </if>
        <if test="ybChsConfire.comments != null and ybChsConfire.comments != ''">and COMMENTS like concat('%',
            #{ ybChsConfire.comments} ,'%')
        </if>
        <if test="ybChsConfire.state != null">and STATE =#{ ybChsConfire.state}</if>
        <if test="ybChsConfire.isDeletemark != null">and IS_DELETEMARK =#{ ybChsConfire.isDeletemark}</if>
        <if test="ybChsConfire.modifyTimeFrom!= null">
            AND ybChsConfire.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="ybChsConfire.modifyTimeTo!= null">
            AND ybChsConfire.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="ybChsConfire.createTimeFrom!= null">
            AND ybChsConfire.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="ybChsConfire.createTimeTo!= null">
            AND ybChsConfire.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
        <if test="ybChsConfire.areaType != null">and areaType =#{ ybChsConfire.areaType}</if>
        <if test="ybChsConfire.operatorName != null and ybChsConfire.operatorName != ''">and operatorName like
            concat('%', #{ ybChsConfire.operatorName} ,'%')
        </if>
    </select>

    <select id="findChsConfireView" resultType="cc.mrbird.febs.chs.entity.YbChsConfire">
        SELECT
        p.id,
        p.doctorCode,
        p.doctorName,
        p.adminType,
        p.COMMENTS,
        p.STATE,
        p.IS_DELETEMARK,
        p.MODIFY_TIME,
        p.CREATE_TIME,
        p.CREATE_USER_ID,
        p.MODIFY_USER_ID,
        GROUP_CONCAT(
        case when d.fyid = '1001' then CONCAT( d.dksName, '(本院)' )
        when d.fyid = '1002' then CONCAT( d.dksName, '(西院)' )
        when d.fyid = '1003' then CONCAT( d.dksName, '(金银湖)' )
        else d.dksName end
        ) currencyField,
        p.areaType,
        p.operatorId,
        p.operatorName
        FROM yb_chs_confire p
        left join yb_chs_confire_data d on
        p.id = d.pid
        where
        p.IS_DELETEMARK = 1
        <if test="areaType!= null">
            AND p.areaType = #{ areaType }
        </if>
        <if test="doctorContent != null and doctorContent != ''">
            and (p.doctorCode like concat('%', #{ doctorContent } ,'%') or p.doctorName like concat('%',
            #{ doctorContent } ,'%'))
        </if>
        <if test="adminType != null">
            and p.adminType = #{ adminType }
        </if>
        <if test="deptContent != null and deptContent != ''">
            and p.id in(select DISTINCT pid from yb_chs_confire_data where deptName like concat('%', #{ deptContent } ,'%'))
        </if>
        <if test="operatorName != null and operatorName != ''">
            and p.operatorName like concat('%', #{ operatorName } ,'%')
        </if>
        GROUP BY p.id
        <if test="type == null">
            order by p.create_time desc
        </if>
        <if test="type != null and type == 'excel'">
            order by p.operatorId desc
        </if>
    </select>

    <select id="findChsConfireCount" resultType="Integer">
        SELECT
        count(1)
        FROM yb_chs_confire
        where
        IS_DELETEMARK = 1
        <if test="areaType!= null">
            AND areaType = #{ areaType }
        </if>
        <if test="adminType != null">
            and adminType = #{ adminType }
        </if>
        <if test="doctorContent != null and doctorContent != ''">
            and (doctorCode like concat('%', #{ doctorContent } ,'%') or doctorName like concat('%', #{ doctorContent } ,'%'))
        </if>
        <if test="deptContent != null and deptContent != ''">
            and id in(select DISTINCT pid from yb_chs_confire_data where deptName like concat('%', #{ deptContent } ,'%'))
        </if>
        <if test="operatorName != null and operatorName != ''">
            and operatorName like concat('%', #{ operatorName } ,'%')
        </if>
    </select>

    <select id="findChsConfireLlyList" resultType="cc.mrbird.febs.chs.entity.YbChsConfire">
        SELECT * FROM yb_chs_confire where doctorCode= #{ ybChsConfire.doctorCode }
        <if test="ybChsConfire.id != null">
            and id != #{ ybChsConfire.id }
        </if>
        <if test="ybChsConfire.areaType != null">
            and areaType = #{ ybChsConfire.areaType }
        </if>
        and adminType in (
        select id from com_type where ctName like concat('%', #{ ybChsConfire.comments } ,'%')
        )
    </select>

    <select id="findChsConfireUserView" resultType="cc.mrbird.febs.chs.entity.YbChsConfire">
        SELECT
        p.id,
        p.doctorCode,
        p.doctorName,
        p.adminType,
        p.COMMENTS,
        <if test="doctorCode == null">
            1 STATE,
        </if>
        <if test="doctorCode != null">
            case when p.doctorCode = #{ doctorCode } then 2 else 1 end STATE,
        </if>
        p.IS_DELETEMARK,
        p.MODIFY_TIME,
        p.CREATE_TIME,
        p.CREATE_USER_ID,
        p.MODIFY_USER_ID,
        GROUP_CONCAT(
        case when d.fyid = '1001' then CONCAT( d.dksName, '(本院)' )
        when d.fyid = '1002' then CONCAT( d.dksName, '(西院)' )
        when d.fyid = '1003' then CONCAT( d.dksName, '(金银湖)' )
        else d.dksName end
        ) currencyField,
        p.areaType,
        p.operatorId,
        p.operatorName
        FROM yb_chs_confire p
        left join yb_chs_confire_data d on
        p.id = d.pid
        where
        p.IS_DELETEMARK = 1
        <if test="areaType!= null">
            AND p.areaType = #{ areaType }
        </if>
        <if test="doctorContent != null and doctorContent != ''">
            and (p.doctorCode like concat('%', #{ doctorContent } ,'%') or p.doctorName like concat('%', #{ doctorContent } ,'%'))
        </if>
        <if test="adminType != null">
            and p.adminType = #{ adminType }
        </if>
        <if test="uid != null and doctorCode == null">
            and p.CREATE_USER_ID = #{ uid }
        </if>
        <if test="uid != null and doctorCode != null">
            and (p.CREATE_USER_ID = #{ uid } or p.doctorCode=#{ doctorCode })
        </if>
        <if test="deptContent != null and deptContent != ''">
            and p.id in(select DISTINCT pid from yb_chs_confire_data where deptName like concat('%', #{ deptContent } ,'%'))
        </if>
        <if test="operatorName != null and operatorName != ''">
            and p.operatorName like concat('%', #{ operatorName } ,'%')
        </if>
        GROUP BY p.id
        <if test="type == null">
            order by p.create_time desc
        </if>
        <if test="type != null and type == 'excel'">
            order by p.operatorId desc
        </if>
    </select>

    <select id="findChsConfireUserCount" resultType="Integer">
        SELECT
        count(1)
        FROM yb_chs_confire
        where
        IS_DELETEMARK = 1
        <if test="areaType!= null">
            AND areaType = #{ areaType }
        </if>
        <if test="adminType != null">
            and adminType = #{ adminType }
        </if>
        <if test="uid != null and doctorCode == null">
            and CREATE_USER_ID = #{ uid }
        </if>
        <if test="uid != null and doctorCode != null">
            and (CREATE_USER_ID = #{ uid } or doctorCode=#{ doctorCode })
        </if>
        <if test="doctorContent != null and doctorContent != ''">
            and (doctorCode like concat('%', #{ doctorContent } ,'%') or doctorName like concat('%', #{ doctorContent } ,'%'))
        </if>
        <if test="deptContent != null and deptContent != ''">
            and id in(select DISTINCT pid from yb_chs_confire_data where deptName like concat('%', #{ deptContent } ,'%'))
        </if>
        <if test="operatorName != null and operatorName != ''">
            and operatorName like concat('%', #{ operatorName } ,'%')
        </if>
    </select>

</mapper>