<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.com.dao.ComTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.com.entity.ComType">
        <id column="id" property="id"/>
        <result column="ctCode" property="ctCode"/>
        <result column="ctName" property="ctName"/>
        <result column="currencyField" property="currencyField"/>
        <result column="ctType" property="ctType"/>
        <result column="COMMENTS" property="comments"/>
        <result column="STATE" property="state"/>
        <result column="IS_DELETEMARK" property="isDeletemark"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
        <result column="orderNum" property="orderNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ctCode, ctName, currencyField, ctType, COMMENTS, STATE, IS_DELETEMARK, MODIFY_TIME, CREATE_TIME, CREATE_USER_ID, MODIFY_USER_ID, orderNum
    </sql>
    <update id="updateComType" parameterType="cc.mrbird.febs.com.entity.ComType">
        update com_type
        <trim prefix="set" suffixOverrides=",">
            <if test="ctCode != null">ctCode=#{ctCode},</if>
            <if test="ctName != null">ctName=#{ctName},</if>
            <if test="currencyField != null">currencyField=#{currencyField},</if>
            <if test="ctType != null">ctType=#{ctType},</if>
            <if test="comments != null">COMMENTS=#{comments},</if>
            <if test="state != null">STATE=#{state},</if>
            <if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
            <if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
            <if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
            <if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
            <if test="orderNum != null">orderNum=#{orderNum},</if>

        </trim>
        where id=#{id}

    </update>
    <select id="findComType" resultType="cc.mrbird.febs.com.entity.ComType"
            parameterType="cc.mrbird.febs.com.entity.ComType">
        select * from com_type
        where 1=1
        <if test="comType.id != null">and id =#{ comType.id}</if>
        <if test="comType.ctCode != null and comType.ctCode != ''">and ctCode like concat('%', #{ comType.ctCode}
            ,'%')
        </if>
        <if test="comType.ctName != null and comType.ctName != ''">and ctName like concat('%', #{ comType.ctName}
            ,'%')
        </if>
        <if test="comType.currencyField != null and comType.currencyField != ''">and currencyField like concat('%',
            #{ comType.currencyField} ,'%')
        </if>
        <if test="comType.ctType != null">and ctType =#{ comType.ctType}</if>
        <if test="comType.comments != null and comType.comments != ''">and COMMENTS like concat('%',
            #{ comType.comments} ,'%')
        </if>
        <if test="comType.state != null">and STATE =#{ comType.state}</if>
        <if test="comType.isDeletemark != null">and IS_DELETEMARK =#{ comType.isDeletemark}</if>
        <if test="comType.modifyTimeFrom!= null">
            AND comType.MODIFY_TIME <![CDATA[ >= ]]>  modifyTimeFrom}
        </if>
        <if test="comType.modifyTimeTo!= null">
            AND comType.MODIFY_TIME <![CDATA[ <= ]]>  modifyTimeTo}
        </if>
        <if test="comType.createTimeFrom!= null">
            AND comType.CREATE_TIME <![CDATA[ >= ]]>  createTimeFrom}
        </if>
        <if test="comType.createTimeTo!= null">
            AND comType.CREATE_TIME <![CDATA[ <= ]]>  createTimeTo}
        </if>
    </select>

</mapper>